// Buttons

.btn {
	font-weight: bold;
	border: 1px solid transparent !important;
	padding: 10px 20px;
	.glyphicon {
		display: none;
	}
}

@media only screen and (max-width: $large) {
	.btn {
		.glyphicon {
			display: inline-block;
		}
	}
}

@media only screen and (max-width: $medium) { 
    .btn_section {
	    .big_btn {
	      padding: 11px 21px !important;
	    }
	}
}