.demo_form-header {
	margin-bottom: 0;
}

.demo_form {
	margin-bottom: 0;
}

.modal-content.bg_blue {
	max-width: 1100px;
	min-height: 450px;
	position: absolute;
	top: 60%;
	left: 50%;
	height: auto;
	margin: auto;
	-webkit-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
	padding: 0 0 15px;
	.close {
		opacity: 1;
	}
	.modal-title {
		font-size: 26px;
	}
	.modal-header {
		padding-left: 40px;
	}
	.modal-body {
		padding-top: 0;
	}
	.form-control, input, textarea {
		border-radius: 0;
		border: 0;
	}
	.form-group {
		margin-bottom: 5px;
	}
}

.demo_form-info{
	position: relative;
	bottom: 0;
	margin-top: 10px;
}
.demo_form-area {
	width: 100%;
	height: 109px;
	resize: none;
	color: #555 !important;
	padding: 10px;
}

.demo_form {
	label {
		margin-bottom: 0;
		padding-bottom: 5px;
		padding-top: 5px;
	}
}

.popup-list {
	span {
		display: none;
	}
	strong {
		display: block;
	}
}

.modal-loader {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -25px;
}

.modal-loader-box {
	width: 50px;
	height: 50px;
	img {
		width: 100%;
		height: 100%;
	}
}

.modal-dialog {
	margin: 0 auto;
}

.modal-thanks {
	padding-top: 40px;
	margin-bottom: 200px;
}

.modal-thanks,
.modal-loader {
	display: none;
}

@media only screen and (min-width: $medium) {
	.modal-content.bg_blue {
		top: 50%;
		left: 50%;
		padding: 20px 30px 60px;
		.form-group {
			margin-bottom: 15px;
		}
	}
	.demo_form-header {
		margin-bottom: 30px;
	}
	.demo_form {
		margin-bottom: 30px;
		bottom: 5px;
	}
	.popup-list {
		strong {
			display: inline-block;
		}
		span {
			padding: 0 5px;
			display: inline-block;
		}
	}
	.demo_form-info {
		margin-top: 0;
	}
}
