// Arial Mt

@font-face {
	font-family: 'Arial MT';
	src: url('../fonts/ArialMt/ArialMT.eot');
	src: url('../fonts/ArialMt/ArialMT.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ArialMt/ArialMT.woff') format('woff'),
		url('../fonts/ArialMt/ArialMT.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Arial MT';
	src: url('../fonts/ArialMt/Arial-BoldMT.eot');
	src: url('../fonts/ArialMt/Arial-BoldMT.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ArialMt/Arial-BoldMT.woff') format('woff'),
		url('../fonts/ArialMt/Arial-BoldMT.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
