/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../../resources/assets/sass/_checkbox.scss */
.toggle-switch-group {
  height: 36px;
}

/* line 6, ../../resources/assets/sass/_checkbox.scss */
.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}

/* line 12, ../../resources/assets/sass/_checkbox.scss */
.checkbox + label {
  cursor: pointer;
}

/* line 16, ../../resources/assets/sass/_checkbox.scss */
.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}

/* line 20, ../../resources/assets/sass/_checkbox.scss */
.checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 60px;
}

/* line 25, ../../resources/assets/sass/_checkbox.scss */
.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}

/* line 37, ../../resources/assets/sass/_checkbox.scss */
.checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all .2s;
}

/* line 50, ../../resources/assets/sass/_checkbox.scss */
.checkbox:checked + label:before {
  background: #eb8c00;
}

/* line 54, ../../resources/assets/sass/_checkbox.scss */
.checkbox:checked + label:after {
  left: 26px;
}

/* line 63, ../../resources/assets/sass/_checkbox.scss */
.radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}

/* line 69, ../../resources/assets/sass/_checkbox.scss */
.radio + label {
  cursor: pointer;
}

/* line 72, ../../resources/assets/sass/_checkbox.scss */
.radio:not(checked) {
  position: absolute;
  opacity: 0;
}

/* line 76, ../../resources/assets/sass/_checkbox.scss */
.radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}

/* line 80, ../../resources/assets/sass/_checkbox.scss */
.radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -7px;
  left: 0;
  width: 28px;
  height: 28px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}

/* line 91, ../../resources/assets/sass/_checkbox.scss */
.radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -3px;
  left: 4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #eb8c00;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all .2s;
}

/* line 104, ../../resources/assets/sass/_checkbox.scss */
.radio:checked + label:after {
  opacity: 1;
}

/* line 1, ../../resources/assets/sass/_uploader.scss */
.preview-uploader {
  position: relative;
  width: 200px;
  height: 120px;
}
/* line 6, ../../resources/assets/sass/_uploader.scss */
.preview-uploader > label {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #999;
  background-color: #eee;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  display: table;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
/* line 23, ../../resources/assets/sass/_uploader.scss */
.preview-uploader > label > span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 29, ../../resources/assets/sass/_uploader.scss */
.preview-uploader > label.loaded > span {
  display: none;
}
/* line 34, ../../resources/assets/sass/_uploader.scss */
.preview-uploader > input[type=file] {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

/************************************* Scrollbar *************************************/
/* line 14, ../../resources/assets/sass/screen.scss */
.slimScrollBar, .slimScrollRail {
  border-radius: 0 !important;
}

/*END ******************************** Scrollbar *************************************/
/************************************* GENERAL *************************************/
/* line 20, ../../resources/assets/sass/screen.scss */
.clearfix, #container {
  *zoom: 1;
}
/* line 21, ../../resources/assets/sass/screen.scss */
.clearfix:before, #container:before, .clearfix:after, #container:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 25, ../../resources/assets/sass/screen.scss */
.clearfix:after, #container:after {
  clear: both;
}

/* line 30, ../../resources/assets/sass/screen.scss */
.noselect, #container #content .scrollable_list ul li {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 38, ../../resources/assets/sass/screen.scss */
.border_box, #container {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

/* line 43, ../../resources/assets/sass/screen.scss */
.fancy_font, h1, h2, #container #content #pwc_tweets .tweet, #container #content #main_tweets .tweet {
  font-family: Georgia, serif;
}

/* line 46, ../../resources/assets/sass/screen.scss */
.system_font, .button, body, #container #content #main_tweets .meta p {
  font-family: Arial, Helvetica, sans-serif;
}

/* line 49, ../../resources/assets/sass/screen.scss */
p {
  margin-bottom: 10px;
}

/* line 53, ../../resources/assets/sass/screen.scss */
.table {
  display: table;
  width: inherit;
  height: inherit;
}
/* line 57, ../../resources/assets/sass/screen.scss */
.table .table_cell {
  display: table-cell;
  width: inherit;
  height: inherit;
  vertical-align: middle;
}

/* line 65, ../../resources/assets/sass/screen.scss */
.errors {
  color: #ff0000;
  font-size: 18px;
  color: #ff0000;
  margin: 10px;
  line-height: 1.2;
}

/* line 72, ../../resources/assets/sass/screen.scss */
.button {
  border-radius: 7px;
  cursor: pointer;
  display: inline-block;
  padding: 7px 12px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  background: #d4526c;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 84, ../../resources/assets/sass/screen.scss */
.button:hover {
  background: #de7b8f;
}

/* line 88, ../../resources/assets/sass/screen.scss */
h1 {
  font-weight: 400;
  color: #968c6d;
  font-size: 30px;
  line-height: 1.2;
}

/* line 95, ../../resources/assets/sass/screen.scss */
h2 {
  font-size: 18px;
  color: #968c6d;
  line-height: 1.2;
}

/* line 101, ../../resources/assets/sass/screen.scss */
.light_blue_bg {
  background: #f2f4f5 !important;
}

/* line 104, ../../resources/assets/sass/screen.scss */
.dropdown {
  width: 225px;
  height: 30px;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #535454;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #fcfdff 4%, #fcfdff 19%, #f8fafc 35%, #dfe0e2 96%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(4%, #fcfdff), color-stop(19%, #fcfdff), color-stop(35%, #f8fafc), color-stop(96%, #dfe0e2), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #ffffff 0%, #fcfdff 4%, #fcfdff 19%, #f8fafc 35%, #dfe0e2 96%, #ffffff 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #fcfdff 4%, #fcfdff 19%, #f8fafc 35%, #dfe0e2 96%, #ffffff 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #fcfdff 4%, #fcfdff 19%, #f8fafc 35%, #dfe0e2 96%, #ffffff 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #fcfdff 4%, #fcfdff 19%, #f8fafc 35%, #dfe0e2 96%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
  outline: none;
  cursor: pointer;
  clear: both;
}

/* line 122, ../../resources/assets/sass/screen.scss */
.dropdown option {
  padding: 5px 5px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  font-size: 14px;
}

/* line 130, ../../resources/assets/sass/screen.scss */
body {
  background: #e5e9eb;
  font-size: 14px;
  line-height: 1.2;
}

/************************************* MAIN *************************************/
/* line 138, ../../resources/assets/sass/screen.scss */
#container {
  max-width: 1200px;
  height: 100%;
  margin: 20px auto;
  padding: 5px;
}
/* line 145, ../../resources/assets/sass/screen.scss */
#container #header {
  clear: both;
  overflow: hidden;
  margin-bottom: 15px;
}
/* line 149, ../../resources/assets/sass/screen.scss */
#container #header img.logo {
  float: left;
}
/* line 152, ../../resources/assets/sass/screen.scss */
#container #header #welcome_msg {
  float: left;
  margin: 5px 0 0 15px;
}
/* line 155, ../../resources/assets/sass/screen.scss */
#container #header #welcome_msg h1 {
  margin-top: 4px;
}
/* line 158, ../../resources/assets/sass/screen.scss */
#container #header #welcome_msg h2 {
  margin-top: 4px;
  font-size: 23px;
}
/* line 163, ../../resources/assets/sass/screen.scss */
#container #header .button {
  float: right;
  margin: 45px 10px 0 0;
}
/* line 170, ../../resources/assets/sass/screen.scss */
#container #content #column1 {
  float: left;
  width: 26%;
}
/* line 174, ../../resources/assets/sass/screen.scss */
#container #content #column2 {
  width: 46%;
  float: left;
  margin: 0 10px;
}
/* line 179, ../../resources/assets/sass/screen.scss */
#container #content #column3 {
  width: 26%;
  float: left;
}
/* line 183, ../../resources/assets/sass/screen.scss */
#container #content #filter_by_hashtag li,
#container #content #filter_by_campaign li {
  cursor: pointer;
}
/* line 187, ../../resources/assets/sass/screen.scss */
#container #content .scrollable_list {
  background: #fff;
  height: 276px;
  padding: 12px 3px 42px 12px;
  border-radius: 5px;
  border: 1px solid #b3b3b3;
  margin-bottom: 10px;
  line-height: 1.2;
  overflow: hidden;
}
/* line 196, ../../resources/assets/sass/screen.scss */
#container #content .scrollable_list h2 {
  margin-bottom: 10px;
}
/* line 199, ../../resources/assets/sass/screen.scss */
#container #content .scrollable_list select {
  display: none;
}
/* line 202, ../../resources/assets/sass/screen.scss */
#container #content .scrollable_list .scroll {
  width: inherit;
  height: inherit;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 12px;
}
/* line 210, ../../resources/assets/sass/screen.scss */
#container #content .scrollable_list ul li {
  font-size: 14px;
  margin-bottom: 16px;
  line-height: 1.5;
}
/* line 215, ../../resources/assets/sass/screen.scss */
#container #content .scrollable_list ul li i {
  display: none;
}
/* line 218, ../../resources/assets/sass/screen.scss */
#container #content .scrollable_list ul li.active {
  color: #d4526c;
}
/* line 220, ../../resources/assets/sass/screen.scss */
#container #content .scrollable_list ul li.active i {
  margin-left: 1px;
  display: inline-block;
}
/* line 228, ../../resources/assets/sass/screen.scss */
#container #content .tweet_ajax_loader {
  background: url(../images/ajax_loader_24.gif) no-repeat;
  width: 24px;
  height: 24px;
  position: relative;
  top: 7px;
  left: 7px;
  display: inline-block;
}
/* line 238, ../../resources/assets/sass/screen.scss */
#container #content .tweet_disabled .tweet_text {
  color: #6d6e71;
}
/* line 241, ../../resources/assets/sass/screen.scss */
#container #content .tweet_disabled .button {
  background: #c7c8ca !important;
}
/* line 243, ../../resources/assets/sass/screen.scss */
#container #content .tweet_disabled .button:hover {
  background: #c7c8ca;
}
/* line 247, ../../resources/assets/sass/screen.scss */
#container #content .tweet_disabled .tweeted_by_me_on {
  display: none;
}
/* line 252, ../../resources/assets/sass/screen.scss */
#container #content #pwc_tweets .tweet {
  color: #000000;
  font-size: 17px;
  line-height: 1.3;
}
/* line 259, ../../resources/assets/sass/screen.scss */
#container #content #pwc_tweets ul li {
  margin-bottom: 5px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #c7c8ca;
}
/* line 263, ../../resources/assets/sass/screen.scss */
#container #content #pwc_tweets ul li:last-child {
  border: none;
}
/* line 266, ../../resources/assets/sass/screen.scss */
#container #content #pwc_tweets ul li .button {
  margin-top: 7px;
}
/* line 269, ../../resources/assets/sass/screen.scss */
#container #content #pwc_tweets ul li .tweet_text {
  width: 98%;
}
/* line 272, ../../resources/assets/sass/screen.scss */
#container #content #pwc_tweets ul li i {
  display: inline-block;
}
/* line 275, ../../resources/assets/sass/screen.scss */
#container #content #pwc_tweets ul li .tweet_res_error {
  margin-left: 10px;
  color: #cd5050;
  display: inline-block;
}
/* line 283, ../../resources/assets/sass/screen.scss */
#container #content #main_tweets {
  height: 650px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #b3b3b3;
  padding: 12px 4px 12px 12px;
  overflow: hidden;
}
/* line 291, ../../resources/assets/sass/screen.scss */
#container #content #main_tweets .main_tweets_scroll {
  width: inherit;
  height: inherit;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* line 298, ../../resources/assets/sass/screen.scss */
#container #content #main_tweets #main_twitter_ajax_loader {
  width: 100%;
}
/* line 300, ../../resources/assets/sass/screen.scss */
#container #content #main_tweets #main_twitter_ajax_loader .tweet_ajax_loader {
  margin: 0 auto !important;
  vertical-align: middle;
  position: initial !important;
  display: block !important;
}
/* line 308, ../../resources/assets/sass/screen.scss */
#container #content #main_tweets ul {
  margin-right: 20px;
}
/* line 310, ../../resources/assets/sass/screen.scss */
#container #content #main_tweets ul li {
  margin-bottom: 5px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #c7c8ca;
}
/* line 314, ../../resources/assets/sass/screen.scss */
#container #content #main_tweets ul li:last-child {
  border: none;
}
/* line 319, ../../resources/assets/sass/screen.scss */
#container #content #main_tweets .tweet {
  color: #000000;
  font-size: 18px;
  line-height: 1.3;
  border: 1px solid transparent;
  padding: 3px 22px 3px 3px;
  position: relative;
}
/* line 326, ../../resources/assets/sass/screen.scss */
#container #content #main_tweets .tweet .tweet_text {
  word-wrap: break-word;
  width: inherit;
  height: inherit;
  position: relative;
}
/* line 333, ../../resources/assets/sass/screen.scss */
#container #content #main_tweets .tweet:hover {
  border: 1px solid #cccccc;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 336, ../../resources/assets/sass/screen.scss */
#container #content #main_tweets .tweet:hover .overlay_edit {
  display: block !important;
}
/* line 340, ../../resources/assets/sass/screen.scss */
#container #content #main_tweets .tweet textarea.edit_txt {
  font-size: 14px;
  padding: 3px 5px;
  width: 104%;
  height: inherit;
}
/* line 346, ../../resources/assets/sass/screen.scss */
#container #content #main_tweets .tweet .overlay_edit {
  display: none;
  color: #707070;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #f0f0f0;
  background-repeat: no-repeat;
  background-position: 4px 4px;
  border-left: 1px solid #ccc;
  background-image: url(../images/edit_icon.png);
  bottom: 0;
  height: auto;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
}
/* line 364, ../../resources/assets/sass/screen.scss */
#container #content #main_tweets .tweet .save_options {
  display: none;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 3px 6px rgba(111, 111, 111, 0.2);
  outline: none;
  padding: 4px 5px 0;
  position: absolute;
  right: -1px;
  top: 100%;
}
/* line 377, ../../resources/assets/sass/screen.scss */
#container #content #main_tweets .tweet .save_options .save_btn,
#container #content #main_tweets .tweet .save_options .cancel_btn {
  display: inline-block;
  width: 26px;
  height: 24px;
  cursor: pointer;
  background-position: 0 0;
}
/* line 384, ../../resources/assets/sass/screen.scss */
#container #content #main_tweets .tweet .save_options .save_btn:hover,
#container #content #main_tweets .tweet .save_options .cancel_btn:hover {
  background-position: 100% 0;
}
/* line 388, ../../resources/assets/sass/screen.scss */
#container #content #main_tweets .tweet .save_options .save_btn {
  background-image: url(../images/check_icon.png);
}
/* line 391, ../../resources/assets/sass/screen.scss */
#container #content #main_tweets .tweet .save_options .cancel_btn {
  background-image: url(../images/cancel_icon.png);
}
/* line 395, ../../resources/assets/sass/screen.scss */
#container #content #main_tweets .tweet .save_options .char_count {
  position: relative;
  top: -7px;
  margin-right: 3px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}
/* line 404, ../../resources/assets/sass/screen.scss */
#container #content #main_tweets .edit_tweet {
  border: 1px solid transparent !important;
}
/* line 405, ../../resources/assets/sass/screen.scss */
#container #content #main_tweets .edit_tweet .save_options {
  margin-top: -8px;
  right: -2%;
}
/* line 410, ../../resources/assets/sass/screen.scss */
#container #content #main_tweets .edit_tweet:hover .overlay_edit {
  display: none !important;
}
/* line 417, ../../resources/assets/sass/screen.scss */
#container #content #main_tweets .meta p {
  margin-bottom: 4px;
  font-size: 14px;
  color: #6d6e71;
}
/* line 422, ../../resources/assets/sass/screen.scss */
#container #content #main_tweets .meta p.twitted_mine {
  color: #d3526c;
  font-weight: 700;
}
/* line 426, ../../resources/assets/sass/screen.scss */
#container #content #main_tweets .meta p.tweeted_by_me_on {
  color: #de7b8f;
  font-weight: bold;
}
/* line 431, ../../resources/assets/sass/screen.scss */
#container #content #main_tweets .meta b {
  font-weight: 400;
  color: #939598;
}
/* line 436, ../../resources/assets/sass/screen.scss */
#container #content #main_tweets .button {
  margin-top: 7px;
}
/* line 439, ../../resources/assets/sass/screen.scss */
#container #content #main_tweets .tweeted {
  background: #0000ff !important;
}
/* line 442, ../../resources/assets/sass/screen.scss */
#container #content #main_tweets .tweet_res_error {
  margin-left: 10px;
  color: #cd5050;
  display: inline-block;
}
/* line 449, ../../resources/assets/sass/screen.scss */
#container #content #recent_tweets_mine li {
  margin-bottom: 10px;
}
/* line 451, ../../resources/assets/sass/screen.scss */
#container #content #recent_tweets_mine li .user_tweet_text {
  word-wrap: break-word;
  width: 97%;
}
/* line 456, ../../resources/assets/sass/screen.scss */
#container #content #recent_tweets_mine p {
  color: #939598;
  margin-bottom: 0;
}
/* line 460, ../../resources/assets/sass/screen.scss */
#container #content #recent_tweets_mine span {
  color: #6d6e71;
}
/* line 464, ../../resources/assets/sass/screen.scss */
#container #content .pagination {
  margin-top: 25px;
}
/* line 466, ../../resources/assets/sass/screen.scss */
#container #content .pagination li {
  /* show only five links of pagination, in laravel it was a problem to limit */
  display: none;
}
/* line 469, ../../resources/assets/sass/screen.scss */
#container #content .pagination li:nth-child(2), #container #content .pagination li:nth-child(3), #container #content .pagination li:nth-child(4), #container #content .pagination li:nth-child(5), #container #content .pagination li:nth-child(6) {
  display: block;
}
/* line 474, ../../resources/assets/sass/screen.scss */
#container #content .pagination li a {
  background: #f3d3da;
  width: 21px;
  height: 21px;
  float: left;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  line-height: 22px;
  margin-right: 10px;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 487, ../../resources/assets/sass/screen.scss */
#container #content .pagination li a:hover {
  background: #ee758f;
}
/* line 492, ../../resources/assets/sass/screen.scss */
#container #content .pagination li.active a {
  background: #c7c8ca;
}
/* line 494, ../../resources/assets/sass/screen.scss */
#container #content .pagination li.active a:hover {
  background: #636871;
}
/* line 498, ../../resources/assets/sass/screen.scss */
#container #content .pagination li.active span {
  width: 21px;
  height: 21px;
  float: left;
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  line-height: 22px;
  margin-right: 10px;
}
/* line 512, ../../resources/assets/sass/screen.scss */
#container #content .slide_controls {
  display: none;
}
@media (max-width: 1024px) {
  /* line 138, ../../resources/assets/sass/screen.scss */
  #container {
    max-width: 1024px;
    min-width: 550px;
    width: auto !important;
  }
  /* line 524, ../../resources/assets/sass/screen.scss */
  #container #content #column1 {
    width: 302px;
    margin-right: -302px;
  }
  /* line 528, ../../resources/assets/sass/screen.scss */
  #container #content #column2 {
    width: auto;
    float: none;
    margin-left: 302px;
  }
  /* line 533, ../../resources/assets/sass/screen.scss */
  #container #content #column3 {
    position: absolute;
    top: 800px;
  }
  /* line 537, ../../resources/assets/sass/screen.scss */
  #container #content .scrollable_list {
    width: 275px;
  }
  /* line 539, ../../resources/assets/sass/screen.scss */
  #container #content .scrollable_list .scroll {
    padding-right: 0;
  }
  /* line 543, ../../resources/assets/sass/screen.scss */
  #container #content #main_tweets {
    width: auto;
    height: 1266px;
  }
  /* line 547, ../../resources/assets/sass/screen.scss */
  #container #content #recent_tweets_mine {
    height: 210px;
  }
  /* line 550, ../../resources/assets/sass/screen.scss */
  #container #content .slide_controls {
    display: none;
  }
}
@media (max-width: 767px) {
  /* line 138, ../../resources/assets/sass/screen.scss */
  #container {
    max-width: 767px;
    min-width: 320px;
    height: auto !important;
  }
  /* line 563, ../../resources/assets/sass/screen.scss */
  #container #header img.logo {
    margin: 0 10px 0 0;
  }
  /* line 566, ../../resources/assets/sass/screen.scss */
  #container #header #welcome_msg {
    float: none;
    margin: 0;
  }
  /* line 570, ../../resources/assets/sass/screen.scss */
  #container #header .button {
    float: left;
    margin: 7px 0 0;
  }
  /* line 576, ../../resources/assets/sass/screen.scss */
  #container #content #filter_by_hashtag, #container #content #filter_by_campaign {
    height: auto !important;
    padding: 12px 4px 12px 12px;
  }
  /* line 579, ../../resources/assets/sass/screen.scss */
  #container #content #filter_by_hashtag .scroll, #container #content #filter_by_campaign .scroll {
    display: none;
  }
  /* line 582, ../../resources/assets/sass/screen.scss */
  #container #content #filter_by_hashtag select, #container #content #filter_by_campaign select {
    display: block !important;
  }
  /* line 586, ../../resources/assets/sass/screen.scss */
  #container #content #column1, #container #content #column2, #container #content #column3 {
    clear: both;
    float: none;
    margin: 0;
    width: auto;
    position: initial;
  }
  /* line 593, ../../resources/assets/sass/screen.scss */
  #container #content .scroll {
    position: relative;
    overflow: hidden !important;
  }
  /* line 596, ../../resources/assets/sass/screen.scss */
  #container #content .scroll ul {
    margin-right: 0;
    height: inherit;
    position: relative;
    left: 0;
  }
  /* line 601, ../../resources/assets/sass/screen.scss */
  #container #content .scroll ul li {
    width: inherit;
  }
  /* line 606, ../../resources/assets/sass/screen.scss */
  #container #content .scrollable_list {
    width: auto;
    padding: 12px 12px 2px;
    position: relative;
  }
  /* line 610, ../../resources/assets/sass/screen.scss */
  #container #content .scrollable_list h2 {
    margin-bottom: 5px;
  }
  /* line 614, ../../resources/assets/sass/screen.scss */
  #container #content #main_tweets {
    width: auto;
    margin-bottom: 10px;
    position: relative;
    padding: 12px !important;
  }
  /* line 619, ../../resources/assets/sass/screen.scss */
  #container #content #main_tweets #main_twitter_ajax_loader {
    width: 100%;
  }
  /* line 622, ../../resources/assets/sass/screen.scss */
  #container #content #main_tweets .scroll {
    height: 98%;
  }
  /* line 625, ../../resources/assets/sass/screen.scss */
  #container #content #main_tweets ul {
    margin-right: 10px;
  }
  /* line 629, ../../resources/assets/sass/screen.scss */
  #container #content #main_tweets .tweet textarea.edit_txt {
    width: 100%;
  }
  /* line 632, ../../resources/assets/sass/screen.scss */
  #container #content #main_tweets .tweet .save_options {
    right: 10px;
  }
  /* line 637, ../../resources/assets/sass/screen.scss */
  #container #content #pwc_tweets,
  #container #content #recent_tweets_mine {
    height: 490px;
  }
  /* line 641, ../../resources/assets/sass/screen.scss */
  #container #content #pwc_tweets ul li,
  #container #content #recent_tweets_mine ul li {
    padding-bottom: 5px;
  }
  /* line 645, ../../resources/assets/sass/screen.scss */
  #container #content #pwc_tweets .scroll,
  #container #content #recent_tweets_mine .scroll {
    height: 85%;
    padding-right: 0;
  }
  /* line 651, ../../resources/assets/sass/screen.scss */
  #container #content .auto_height {
    height: auto !important;
  }
  /* line 654, ../../resources/assets/sass/screen.scss */
  #container #content .slide_controls {
    display: block;
    background: inherit;
    position: absolute;
    width: 90%;
    bottom: 10px;
    left: 0;
    font-size: 14px;
    font-weight: bold;
    color: #444;
    padding: 3px 5%;
  }
  /* line 665, ../../resources/assets/sass/screen.scss */
  #container #content .slide_controls .prev {
    float: left;
  }
  /* line 668, ../../resources/assets/sass/screen.scss */
  #container #content .slide_controls .next {
    float: right;
  }
  /* line 671, ../../resources/assets/sass/screen.scss */
  #container #content .slide_controls .active {
    color: #d4526c !important;
    cursor: pointer;
  }
}
