footer{
    width:100%;
    float:left;
    padding:40px 0px 20px;
    background-color:#363636;
    color:#fff;
    
    ul.social-links{
        list-style-type:none;
        padding:0px;
        
        li{
            float: left;
            margin: 0px 0px 0px 10px;
          a {
            transition:all 0.3s;
            -moz-transition:all 0.3s;
            -ms-transition:all 0.3s;
            -o-transition:all 0.3s;
            -webkit-transition:all 0.3s;
            
            img{
                max-width:100%;    
            }
  
             &:hover,
              &:focus {
                 opacity:0.7;
              }
            }    
          }
        }

    ul.footer-custom-link{
        list-style-type: none;
        padding: 0px 0 90px;
        margin-bottom: 40px;
        border-bottom: 1px solid;
        
        li {
            float: left;
            padding: 0px;
            line-height: 14px;
            margin:10px 0px;
            width: 100%;
        
        a {
            color:#ddd;
            font-size:14px;
            &:hover,
            &:focus {
               color:#fff;
               text-decoration:none;
            }
        }
      }   li:first-child{padding-left:0px;}
          li:last-child{padding-right:0px;border:0px;
      }  
    }

    p {
      font-size:14px;
    }
    
}


@media only screen and (min-width: $medium) { 
  footer {
      ul.footer-custom-link {
        list-style-type:none;
        padding:0px;
        margin: 0;
        border: 0;
        
        li {
          float: left;
          width: auto;
          border-right: 1px solid #ddd;
          padding: 0px 31px 0px;
          line-height: 14px;
          margin:10px 0px;
          a {
            color:#ddd;
            font-size:14px;
            &:hover,
            &:focus {
               color:#fff;
               text-decoration:none;
          }
        }
      }   
      li:first-child{padding-left:0px;}
      li:last-child{padding-right:0px;border:0px;}  
    }
  }
}