#header {
    position: fixed;
    background: #fff;
    z-index: 999;
    width: 100%;
    padding: 10px 0 15px;
    top: 0;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    nav.navbar-default {
        background: #fff !important;
        border: 0px;
        width: 100%;
        .active > a,
        .navbar-nav > .active > a:hover,
        .navbar-nav > .active > a:focus {
            background: transparent;
        }
        .navbar-toggle {
            background: #fff;
            border: 0 ;
            margin-right: 0;
            margin-top: 13px;
            margin-bottom: 5px;
            .icon-bar {
                background-color: $primary-color;
                width: 25px;
                height: 3px;
                margin-bottom: 5px;
            }
        }
    }
    .navbar-collapse {
        width: 100%;
        padding: 0px 0px;
        overflow-x: hidden;
    }
}

#header-nav {
    text-align: left;
    ul {
        list-style: none;
        margin: 15px 0 5px;
        li {
            a {
                color: #3c3d3f;
                text-decoration: none;
                padding: 5px 10px;
                line-height: 15px;
                font-size: 14px;
                font-weight: 400;
                &:hover,
                &:focus {
                    color: #46b8da;
                }
            }
            &:first-child a {
                border: 0px;
            }
        }
    }
    .header-buttons {
        a.btn {
            border-radius: 0px;
            width: 100%;
            font-size: 14px;
            padding: 6px 12px;
            font-weight: 400;
            margin: 10px 15px 5px 0px;
        }
    }
}

#header-logo {
    clear: fix-legacy;
    img {
        width: 65px;
    }
}

@media only screen and (min-width: $screen-lg-min) {
    #header-logo {
        img {
            width: 100px;
        }
    }
    #header-nav {
        ul {
            li {
                a {
                    border-left: 1px solid #09234C;
                    padding: 0 15px;
                }
            }
        }
    }
    .header-buttons {
        float: right;
        clear: fix-legacy;
        a.btn {
            margin: 10px 10px 20px 0px;
            float: right;
            width: auto !important;
        }
    }
}