// Margins


$margins: (none: 0rem, xs: 0.5rem, sm: 1rem, md: 1.5rem, lg: 2rem, xl: 1.25rem);

	@each $name, $value in $margins {
	  .margin-top-#{$name} {
	    margin-top: $value;
	  }
	  .margin-bottom-#{$name} {
	    margin-bottom: $value;
	  }
	}

@media only screen and (min-width: $medium) { 
	@each $name, $value in $margins {
	  .margin-top-#{$name} {
	    margin-top: ($value * 1.25);
	  }
	  .margin-bottom-#{$name} {
	    margin-bottom: ($value * 1.25);
	  }
	}
	.margin-top-xl {
		margin-top: 3rem;
	}
	.margin-bottom-xl {
		margin-bottom: 3rem;
	}
}