// Sidebar

.sidebar {
	padding: 0 20px;
	margin-top: 20px;
	&__block {
		&_recent-articles {
			.article-item {
				margin-bottom: 20px;
				h3 {
				 	font-weight: 600;
				 	font-size: 16px;
				 	a {
				 		color: $primary-color;
				 	}
				}
				time {
		    		color: #444;
		    		font-size: 12px;
    			}
    			p {
    				font-size: 16px;
    			}
			}
			.btn {
				color: #fff;
				padding: 12px 22px;
				margin-top: 30px;
				font-weight: 600;
				border-radius: 0;
			}
		}
	}
}

@media only screen and (min-width: $medium) { 
	.sidebar {
		border-left: 1px solid $primary-color;
		padding: 0 50px;
		margin-top: 0;
	}
}