
.toggle-switch-group {
  height: 36px;
  label {
    font-weight: normal;
    display: block;
  }
}

span.toggle-switch-group {
  display: inline-block;
  margin-right: 20px;

  &:nth-last-child {
    margin-right: 0;
  }
}

.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}
.checkbox + label {
  cursor: pointer;
  color: $smd-gray;
  font-size: 12px;
}

.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.checkbox:not(checked) + label {
  position: relative;
  padding: 16px 0 0 0;
}

.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 39px;
  height: 18px;
  border-radius: 9px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}

.checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -3px;
  left: 1px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: all .2s;
}

.checkbox:checked + label:before {
  background: $rose;
}

.checkbox:checked + label:after {
  left: 22px;
}

.checkbox:focus + label:before {
  //box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}


.radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
.radio + label {
  cursor: pointer;
}
.radio:not(checked) {
  position: absolute;
  opacity: 0;
}
.radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
.radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -7px;
  left: 0;
  width: 28px;
  height: 28px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}
.radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -3px;
  left: 4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $rose;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
  transition: all .2s;
}
.radio:checked + label:after {
  opacity: 1;
}
.radio:focus + label:before {
  //box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}
