.preview-uploader {
  position: relative;
  width: 320px;
  height: 180px;
  margin-top: 10px;

  > label {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #999;
    background-color: #eee;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    display: table;

    background-size: contain;
    background-position: 0% 50%;
    background-repeat: no-repeat;

    > span {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      color: #666;
      text-shadow: 1px 1px 0 #fff;
    }

    .clicktochange {
      display: none;
    }

    &.loaded {
      background-color: transparent;
      .justimage {
        display: none;
      }

      &:hover {
        .clicktochange {
          display: table-cell;
        }
      }
    }

  }

  > input[type=file] {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    visibility: hidden;
  }
}


