//copied from PAR
$tangerine: rgb(235, 140, 0);
$rose: rgb(219, 83, 106);

$burgundy: rgb(163, 32, 32);
$black: rgb(109, 110, 113);
$dark_grey: #6d6e71;

$white   : #ffffff;
$orange  : #DC6900;
$red     : #ba303e;
$magenta : #6d2433;
$grey    : #eee;
$dark-grey  : #666666;
$crimson: #ad1b02;
$pink:    #f53d63;

$smd-gray: #939598;

$primary-color: #113878;


$btn-dark-color: #113878;
$btn-dark-color-hover: lighten($btn-dark-color, 10%);