/* ADMIN CSS GOES HERE */
@import "variables";
@import "bootstrap/bootstrap/variables";

input:focus, textarea:focus, select:focus {
	border: 1px solid #ccc !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.075) !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.075) !important;
}

a, button, input  {
	& {
		outline: none !important;
	}
	&::-moz-focus-inner, &::-moz-focus-inner {
		border: none !important;
		outline: none !important;
	}
}

.form-group {
	border: none !important;
	outline: none !important;
}



@import "uploader";
@import "checkbox";
@import "select2";


.pwc-logo {
	max-width: 45px;
	position: relative;
	top: -6px;
	display: inline-block !important;
	margin-right: 8px;
}


#page-wrapper {
	padding-top: 10px;

	h1 {
		font-size: 24px;
		color: #666;
	}
}

.tweet_row  .input-date input
{
	width: 250px;
	height: 28px;
	float: left;
}
.tweet_row textarea
{
	height: 110px;
}
.tweet_row  .checkbox_formbox_wrapper .checkbox_formbox
{
	margin: 5px 6px;
	display: inline-block;
	background: #eee;
	padding: 2px 10px 0;
	border-radius: 4px;
}
.tweet_row  .checkbox_formbox_wrapper .checked
{
	background: #bbc;
}
.hidden 
{
	display: none;
}


.nobr {
	white-space: nowrap;
}

.nobold {
	font-weight: normal !important;
}

.create-edit-form {
	h1 {
		font-weight: bold;
		font-size: 26px !important;
	}

	.form-group-modified {
		margin-bottom: 10px;
	}
}

.aside-block {
	color: #999;

	input, a.btn {
		min-width: 110px;
	}
}

.aside-block {
	margin: 10px;
	font-size: 16px;

	.form-control {
		margin-top: 5px;
		font-size: 15px;
		font-weight: bold;
		padding: 7px 8px;
	}
}

.aside-block-topmargin {
	margin-top: 50px;
}

.aside-char-count-txt {
	position: relative;
	width: 200px;
}

.aside-char-count {
	position: relative;
	color: #333;
}

.aside-char-count-icon {
	position: absolute;
	left: -20px;
	display: none;
}

.oversized {
	color: $brand-danger;

	.aside-char-count-icon {
		display: block;
	}
}

.navbar-fixed-top {
	z-index: 9 !important;
}

.btn-wide {
	padding: 7px 25px;
	margin-right: 4px;
}

.mgt-15 {
	margin-top: 15px;
}

.font-bold {
	font-weight: bold;
}




.label-modified {
	display: block;
	text-align: right;
	margin-top: 5px;
	margin-right: 8px;
	font-size: 14px;
}

.col-fixed-padding {
	padding-left: 94px;
	position: relative;
}

.col-fixed-padding-filter {
	label {
		font-weight: normal;
	}
}

.col-fixed-width {

	width: 74px;
	min-height: 1px;
	position: absolute;
	left: 20px;
	top: 0;
}




@media screen and (max-width: $screen-md-min) {
	.label-modified {
		text-align: left;
	}
	.col-fixed-width {
		position: relative;
		left: 0;
	}
	.col-fixed-padding {
		padding-left: 15px;
	}
}


.modal-confirm {
	.modal-body {
		text-align: center;
		.fa {
			font-size: 48px;
			display: block;
			text-align: center;
			color: $brand-danger;
		}
		h2 {
			margin-top: 0;
			color: $brand-danger;
		}
	}
	.modal-footer {
		text-align: center;
	}
}


.modal-ask{
	.modal-body {
		text-align: center;
		.fa {
			font-size: 48px;
			display: block;
			text-align: center;
			color: $brand-primary;
		}
		h2 {
			font-size: 28px;
			margin-top: 0;
			color: $brand-primary;
			font-weight: normal;
		}
	}
	.modal-footer {
		text-align: center;
	}
}


.post-filter-label:first-child {
	margin-top: 10px;
}
.post-filter-submit {
	margin-top: 12px;
}



.smd-table {
	margin-top: 20px;

	th, td {
		border: 0 !important;
	}

	th {
		color: $smd-gray;
		font-weight: normal;
	}

	.archive-link, .color-gray {
		color: $smd-gray;
	}

	.filter-sort-heading {
		color: $smd-gray;
		text-decoration: none;
	}

	tbody > tr:nth-of-type(odd) {
		background-color: #ededee !important;
	}

}


$current-gutter: 2px;
.small-gutter {
	margin-left: - $current-gutter;
	margin-right: - $current-gutter;

	> [class*='col-'] {
		padding-right: $current-gutter;
		padding-left: $current-gutter;
	}
}

.color-gray {
	color: $smd-gray;
}




.filter {
	padding-bottom: 10px;
}

.filter-switches {
	margin-left: 30px;
	margin-top: 5px;
}

.filter-search-group {
	padding-left: 50px !important;
	position: relative;
}

.filter-search-label {
	position: absolute;
	left: 0;
	top: 8px;
}

.filter-campaign-group {
	padding-left: 117px !important;
	position: relative;
}

.filter-campaign-label {
	position: absolute;
	left: 40px;
	top: 2px;
}

.filter-submit {
	padding-left: 65px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: -5px;
}

@media screen and (max-width: 1320px) {
	.filter-submit {
		padding-left: 0;
	}
}


@media screen and (max-width: $screen-lg-min) {
	.filter-switches {
		margin-left: 10px;
	}

	.filter-campaign-group {
		padding-left: 80px !important;
	}

	.filter-campaign-label {
		left: 7px;
	}
}

.shake {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%, 60% {
		transform: translate3d(4px, 0, 0);
	}
}