// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "variables";

.btn-dark {
  background-color: $btn-dark-color;
  border-color: $btn-dark-color;
  color: #fff;
  &:hover {
    background-color: $btn-dark-color-hover;
    border-color: $btn-dark-color-hover;
    color: #fff;
  }
  &:active {
    background-color: $btn-dark-color-hover;
    border-color: $btn-dark-color-hover;
    color: #fff;
  }
  &:focus {
    background-color: $btn-dark-color-hover;
    border-color: $btn-dark-color-hover;
    color: #fff;
  }
}

.text-dark {
  color: $btn-dark-color;
  &:hover {
    color: $btn-dark-color-hover;
  }

  &:active {
    color: $btn-dark-color-hover;
  }

  &:focus {
    color: $btn-dark-color-hover;
  }
}

.square_preview {
  width: 180px;
  height: 180px;
}

.checkbox_dark:checked + label:before {
  background-color: $btn-dark-color;
  border-color: $btn-dark-color;
}

.sk-text-vcenter{
  padding-top: 5px;
}

.form-container{
  padding-bottom: 40px;
}

.pagination-row > .pagination > .active > span {
  z-index: 3;
  color: #fff;
  background-color: #113878;
  border-color: #113878;
  cursor: default;
}

.pagination-row > .pagination li a{
  color: #113878;
}
.sk-datapicker-padding{
  padding-bottom: 15px;
}

.bootstrap-datetimepicker-widget table td.active{
  background-color: #113878;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.redactor-toolbar{
  position: initial;
}