/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

/************************************* Scrollbar *************************************/
.slimScrollBar, .slimScrollRail {
  border-radius: 0 !important;
}
/*END ******************************** Scrollbar *************************************/

/************************************* GENERAL *************************************/
.clearfix {
  &:before, &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
  *zoom: 1;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.border_box {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.fancy_font {
  font-family: Georgia, serif;
}
.system_font {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  margin-bottom: 10px;
}
//object vertical and horizontal position
.table {
  display: table;
  width: inherit;
  height: inherit;
  .table_cell {
    display: table-cell;
    width: inherit;
    height: inherit;
    vertical-align: middle;

  }
}
.errors {
  color: #ff0000;
  font-size: 18px;
  color: #ff0000;
  margin: 10px;
  line-height: 1.2;
}
.button {
  border-radius: 7px;
  cursor: pointer;
  display: inline-block;
  padding: 7px 12px;
  color: #fff;
  text-decoration: none;
  @extend .system_font;
  // font-weight: 700;
  font-size: 14px;
  background: #d4526c;
  @include transition-duration(.3s);
  &:hover {
    background: lighten(#d4526c, 10);
  }
}
h1 {
  font-weight: 400;
  color: #968c6d;
  @extend .fancy_font;
  font-size: 30px;
  line-height: 1.2;
}
h2 {
  @extend .fancy_font;
  font-size: 18px;
  color: #968c6d;
  line-height: 1.2;
}
.light_blue_bg {
  background: #f2f4f5 !important;
}
.dropdown {
  width: 225px;
  height: 30px;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #535454;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #fcfdff 4%, #fcfdff 19%, #f8fafc 35%, #dfe0e2 96%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(4%,#fcfdff), color-stop(19%,#fcfdff), color-stop(35%,#f8fafc), color-stop(96%,#dfe0e2), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top, #ffffff 0%,#fcfdff 4%,#fcfdff 19%,#f8fafc 35%,#dfe0e2 96%,#ffffff 100%);
  background: -o-linear-gradient(top, #ffffff 0%,#fcfdff 4%,#fcfdff 19%,#f8fafc 35%,#dfe0e2 96%,#ffffff 100%);
  background: -ms-linear-gradient(top, #ffffff 0%,#fcfdff 4%,#fcfdff 19%,#f8fafc 35%,#dfe0e2 96%,#ffffff 100%);
  background: linear-gradient(to bottom, #ffffff 0%,#fcfdff 4%,#fcfdff 19%,#f8fafc 35%,#dfe0e2 96%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
  outline: none;
  cursor: pointer;
  clear: both;
}
.dropdown option
{
  padding: 5px 5px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  font-size: 14px;
}
body {
  background: #e5e9eb;
  @extend .system_font;
  font-size: 14px;
  line-height: 1.2;
}
/************************************* MAIN *************************************/
// general
#container {
  max-width: 1200px;
  height: 100%;
  margin: 20px auto;
  padding: 5px;
  @extend .clearfix;
  @extend .border_box;
  #header {
    clear: both;
    overflow: hidden;
    margin-bottom: 15px;
    img.logo {
      float: left;
    }
    #welcome_msg {
      float: left;
      margin: 5px 0 0 15px;
      h1 {
        margin-top: 4px;
      }
      h2 {
        margin-top: 4px;
        font-size: 23px;
      }
    }
    .button {
      float: right;
      margin: 45px 10px 0 0;
    }
  }

  #content {
    #column1 {
      float: left;
      width: 26%;
    }
    #column2 {
      width: 46%;
      float: left;
      margin: 0 10px;
    }
    #column3 {
      width: 26%;
      float: left;
    }
    #filter_by_hashtag li,
    #filter_by_campaign li {
      cursor: pointer;
    }
    .scrollable_list {
      background: #fff;
      height: 276px;
      padding: 12px 3px 42px 12px;
      border-radius: 5px;
      border: 1px solid #b3b3b3;
      margin-bottom: 10px;
      line-height: 1.2;
      overflow: hidden;
      h2 {
        margin-bottom: 10px;
      }
      select {
        display: none;
      }
      .scroll {
        width: inherit;
        height: inherit;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-right: 12px;
      }
      ul {
        li {
          font-size: 14px;
          margin-bottom: 16px;
          line-height: 1.5;
          @extend .noselect;
          i {
            display: none;
          }
          &.active {
            color: #d4526c;
            i {
              margin-left: 1px;
              display: inline-block;
            }
          }
        }
      }
    }
    .tweet_ajax_loader {
      background: url(../images/ajax_loader_24.gif) no-repeat;
      width: 24px;
      height: 24px;
      position: relative;
      top: 7px;
      left: 7px;
      display: inline-block;
    }
    .tweet_disabled {
      .tweet_text {
        color: #6d6e71;
      }
      .button {
        background: #c7c8ca !important;
        &:hover {
          background: #c7c8ca;
        }
      }
      .tweeted_by_me_on {
        display: none;
      }
    }
    #pwc_tweets {
      .tweet {
        color: #000000;
        @extend .fancy_font;
        font-size: 17px;
        line-height: 1.3;
      }
      ul {
        li {
          margin-bottom: 5px;
          padding-bottom: 10px;
          border-bottom: 1px dotted #c7c8ca;
          &:last-child {
            border: none;
          }
          .button {
            margin-top: 7px;
          }
          .tweet_text {
            width: 98%;
          }
          i {
            display: inline-block;
          }
          .tweet_res_error {
            margin-left: 10px;
            color: #cd5050;
            display: inline-block;
          }
        }
      }
    }
    #main_tweets {
      height: 650px;
      background: #fff;
      border-radius: 5px;
      border: 1px solid #b3b3b3;
      padding: 12px 4px 12px 12px;
      overflow: hidden;

      .main_tweets_scroll {
        width: inherit;
        height: inherit;
        overflow-y: scroll;
        overflow-x: hidden;
      }
      //main twitter block ajax loader
      #main_twitter_ajax_loader {
        width: 100%;
        .tweet_ajax_loader {
          margin: 0 auto !important;
          vertical-align: middle;
          position: initial !important;
          display: block !important;
        }
      }
      //twitter listing
      ul {
        margin-right: 20px;
        li {
          margin-bottom: 5px;
          padding-bottom: 10px;
          border-bottom: 1px dotted #c7c8ca;
          &:last-child {
            border: none;
          }
        }
      }
      .tweet {
        color: #000000;
        @extend .fancy_font;
        font-size: 18px;
        line-height: 1.3;
        border: 1px solid transparent;
        padding: 3px 22px 3px 3px;
        .tweet_text {
          word-wrap: break-word;
          width: inherit;
          height: inherit;
          position: relative;
        }
        position: relative;
        &:hover {
          border: 1px solid #cccccc;
          @include transition-duration(.3s);
          .overlay_edit {
            display: block !important;
          }
        }
        textarea.edit_txt {
          font-size: 14px;
          padding: 3px 5px;
          width: 104%;
          height: inherit;
        }
        .overlay_edit {
          display: none;
          color: #707070;
          cursor: pointer;
          box-sizing: border-box;
          background-color: #f0f0f0;
          background-repeat: no-repeat;
          background-position: 4px 4px;
          border-left: 1px solid #ccc;
          background-image: url(../images/edit_icon.png);
          bottom: 0;
          height: auto;
          margin: 0;
          position: absolute;
          right: 0;
          top: 0;
          width: 24px;
        }
        .save_options {
          display: none;
          background-color: #f0f0f0;
          border: 1px solid #ccc;
          border-top: none;
          border-radius: 0 0 3px 3px;
          box-shadow: 0 3px 6px rgba(111,111,111,0.2);
          outline: none;
          padding: 4px 5px 0;
          position: absolute;
          right: -1px;
          top: 100%;
        }
        .save_options .save_btn,
        .save_options .cancel_btn {
          display: inline-block;
          width: 26px;
          height: 24px;
          cursor: pointer;
          background-position: 0 0;
          &:hover {
            background-position: 100% 0;
          }
        }
        .save_options .save_btn {
          background-image: url(../images/check_icon.png);
        }
        .save_options .cancel_btn {
          background-image: url(../images/cancel_icon.png);
        }

        .save_options .char_count {
          position: relative;
          top: -7px;
          margin-right: 3px;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 12px;
        }

      }
      .edit_tweet {
        .save_options {
          margin-top: -8px;
          right: -2%;
        }
        &:hover {
          .overlay_edit {
            display: none !important;
          }
        }
        border: 1px solid transparent !important;
      }
      .meta {
        p {
          margin-bottom: 4px;
          font-size: 14px;
          color: #6d6e71;
          @extend .system_font;
          &.twitted_mine {
            color: #d3526c;
            font-weight: 700;
          }
          &.tweeted_by_me_on {
            color: #de7b8f;
            font-weight: bold;
          }
        }
        b {
          font-weight: 400;
          color: #939598;
        }
      }
      .button {
        margin-top: 7px;
      }
      .tweeted {
        background: #0000ff !important;
      }
      .tweet_res_error {
        margin-left: 10px;
        color: #cd5050;
        display: inline-block;
      }
    }
    #recent_tweets_mine {
      li {
        margin-bottom: 10px;
        .user_tweet_text {
          word-wrap: break-word;
          width: 97%;
        }
      }
      p {
        color: #939598;
        margin-bottom: 0;
      }
      span {
        color: #6d6e71;
      }
    }
    .pagination {
      margin-top: 25px;
      li {
        /* show only five links of pagination, in laravel it was a problem to limit */
        display: none;
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) { display: block; }
        a {
          background: #f3d3da;
          width: 21px;
          height: 21px;
          float: left;
          color: #fff;
          font-weight: 700;
          text-decoration: none;
          font-size: 18px;
          text-align: center;
          line-height: 22px;
          margin-right: 10px;
          @include transition-duration(.3s);
          &:hover {
            background: #ee758f;
          }
        }
        &.active {
          a {
            background: #c7c8ca;
            &:hover {
              background: #636871;
            }
          }
          span {
            width: 21px;
            height: 21px;
            float: left;
            font-weight: 700;
            text-decoration: none;
            font-size: 18px;
            text-align: center;
            line-height: 22px;
            margin-right: 10px;
          }
        }
      }
    }
    .slide_controls {
      display: none;
    }
  }
  //endif general

  //if 1024 and less
  @media (max-width: 1024px) {
    max-width: 1024px;
    min-width: 550px;
    width: auto !important;
    #content {
      #column1 {
        width: 302px;
        margin-right: -302px;
      }
      #column2 {
        width: auto;
        float: none;
        margin-left: 302px;
      }
      #column3 {
        position: absolute;
        top: 800px;
      }
      .scrollable_list {
        width: 275px;
        .scroll {
          padding-right: 0;
        }
      }
      #main_tweets {
        width: auto;
        height: 1266px;
      }
      #recent_tweets_mine {
        height: 210px;
      }
      .slide_controls {
        display: none;
      }
    }
  }
  //endif 1024 and less

  //if mobile (767 and less)
  @media (max-width: 767px) {
    max-width: 767px;
    min-width: 320px;
    height: auto !important;
    #header {
      img.logo {
        margin: 0 10px 0 0;
      }
      #welcome_msg {
        float: none;
        margin: 0;
      }
      .button {
        float: left;
        margin: 7px 0 0;
      }
    }
    #content {
      #filter_by_hashtag, #filter_by_campaign {
        height: auto !important;
        padding: 12px 4px 12px 12px;
        .scroll {
          display: none;
        }
        select {
          display: block !important;
        }
      }
      #column1, #column2, #column3 {
        clear: both;
        float: none;
        margin: 0;
        width: auto;
        position: initial;
      }
      .scroll {
        position: relative;
        overflow: hidden !important;
        ul {
          margin-right: 0;
          height: inherit;
          position: relative;
          left: 0;
          li {
            width: inherit;
          }
        }
      }
      .scrollable_list {
        width: auto;
        padding: 12px 12px 2px;
        position: relative;
        h2 {
          margin-bottom: 5px;
        }
      }
      #main_tweets {
        width: auto;
        margin-bottom: 10px;
        position: relative;
        padding: 12px !important;
        #main_twitter_ajax_loader {
          width: 100%;
        }
        .scroll {
          height: 98%;
        }
        ul {
          margin-right: 10px;
        }
        .tweet {
          textarea.edit_txt {
            width: 100%;
          }
          .save_options {
            right: 10px;
          }
        }
      }
      #pwc_tweets,
      #recent_tweets_mine {
        height: 490px;
        ul {
          li {
            padding-bottom: 5px;
          }
        }
        .scroll {
          height: 85%;
          padding-right: 0;
        }
      }

      .auto_height {
        height: auto !important;
      }
      .slide_controls {
        display: block;
        background: inherit;
        position: absolute;
        width: 90%;
        bottom: 10px;
        left: 0;
        font-size: 14px;
        font-weight: bold;
        color: #444;
        padding: 3px 5%;
        .prev {
          float: left;
        }
        .next {
          float: right;
        }
        .active {
          color: #d4526c !important;
          cursor: pointer;
        }
      }
    }
  }
  //endif mobile (767 and less)
}

.scrollable_list_double {
  height: 620px !important;
}

.tweet-img {
  max-width: 100%;
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}
