// Common

        a.right .glyphicon-menu-right {

            background:url(../img/slider-arrow-icon.png) no-repeat 0 0;
            height:44px;
            width:22px;
                
            @media #{$brk-iphone6-portrait} {display: none;}
            @media #{$brk-iphone6plus-portrait} {display: none;}

            &:hover {
                background-position: 0px -56px;
            }

            &:before {
                content:inherit;
                display:none;
            }
        }

         a.left .glyphicon-menu-left {

            background:url(../img/slider-arrow-left-icon.png) no-repeat 0 0;
            height:44px;
            width:22px;
             
            @media #{$brk-iphone6-portrait} {display: none;}
            @media #{$brk-iphone6plus-portrait} {display: none;}

            &:hover {
                background-position: 0px -56px;
            }

            &:before {
                content:inherit;
                display:none;
            }
        }

        #demo .big_btn {
    
            @media #{$brk-med-desk} {
             margin-right: 20%;
             width: 50%;

    }
}
#demo button {
    margin-right: 3%;
    
    @media #{$brk-med-desk-2} {
        width: 50%;
}
      @media #{$brk-iphone6plus-portrait} {
        width: 50%;
        margin-right: 5%;
}

    @media #{$brk-iphone6-portrait} {
        width: 50%;
        margin-right: 5%;
}
    

    
}
#form-video {
    @media #{$brk-iphone6-portrait} {
        display: none;
    }
    @media #{$brk-iphone6plus-portrait} {
        display: none;
    }
    @media #{$brk-iphone6-landscape} {
        display: none;
    }
    @media #{$brk-iphone5-portrait} {
        display: none;
    }
    @media #{$brk-iphone5-landscape} {
        display: none;
    }
    @media #{$brk-med-desk-2} {
        display: none;
    }
}

label {
    float: left;
    @media #{$brk-iphone6-portrait} {float: left;}

    @media #{$brk-iphone6plus-portrait} {float: left;}
}

#my_video_1, #my_video_2 {width: 100%;}


.pull-left {float: left;}
.pull-right {float: right;}

.black {
    color: #000;
}
.bg_black {
    background: #000;
}

.blue{color:#113878}

.bg_blue{
    background:#113878;
    color:#fff;
}
.bg_gray{
    background:#e7e7e8;
}
a.vidbanimg span {
    height: 140px;
    position: relative;
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: 72% 27%;
}
 #play2{
    background: url("img/play-button.png")center center no-repeat;
    height: 140px;
    position: relative;
    z-index: 999;
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: 43% 41%;
    
    @media #{$brk-iphone6-portrait} {
        display: none;
    }
    @media #{$brk-iphone6-landscape} {
        display: none;
    }
    @media #{$brk-iphone6plus-portrait} {
        display: none;
    }
    @media #{$brk-iphone6plus-landscape} {
        display: none;
    }
    @media #{$brk-iphone5-portrait} {
        display: none;
    }
    @media #{$brk-iphone5-landscape} {
        display: none; 
    }
}
.radius0{
    border-radius:0px !important;
    -mozborder-radius:0px !important;
    -ms-border-radius:0px !important;
    -o-border-radius:0px !important;
    -webkit-border-radius:0px !important;
}

.demo_form {
    label{
        font-weight:100;
    }
}

.vidbanimg .play {
    height: 140px;
    position: relative;
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: 68% 21%;
}
.vidbanimg img {
    
    margin-left: 10%;
    
    @media #{$brk2-ipad-portrait} {
        margin-top: 30%;
        width: 88%;
    }
    @media #{$brk-iphone6-portrait} {
        display: none;
    }
    @media #{$brk-iphone6-landscape} {
        display: none;
    }
    @media #{$brk-iphone6plus-portrait} {
        display: none;
    }
    @media #{$brk-iphone6plus-landscape} {
        display: none;
    }
    @media #{$brk-iphone5-portrait} {
        display: none;
    }  
}

.b{font-weight:bold;}
.font10{font-size: 10px;}
.font11{font-size: 11px;}
.font12{font-size: 12px; font-family: Arial}
.font13{font-size: 13px;}
.font14{font-size: 14px;}
.font15{font-size: 15px;}
.font16{font-size: 16px;}
.font17{font-size: 17px;}
.font18{font-size: 18px;}
.font19{font-size: 19px;}
.font20{font-size: 20px;}
.font21{font-size: 21px;}
.font22{font-size: 22px;}
.font23{font-size: 23px;}
.font24{font-size: 24px;}
.b{font-weight: bold;}
.b{font-weight: bold;}

.m_top0{margin-top: 0px;}
.m_0{margin: 0px;}
.m_t5{margin-top: 5px;}
.m_b5{margin-bottom: 5px;}

.m_top5 { margin-top:5px; }
.m_top7 { margin-top:7px; }
.m_top10 { margin-top:10px; }
.m_top15 { margin-top:15px; }
.m_top17 { margin-top:17px; }
.m_top30 { margin-top:30px; }
.m_top40 { margin-top:40px; }
.m_top45 { margin-top:45px; }
.m_top50 { margin-top:50px; }
.m_top20 { margin-top:20px; }
.m_bottom5 { margin-bottom:5px; }
.m_bottom7 { margin-bottom:7px; }
.m_bottom10 { margin-bottom:10px; }
.m_bottom15 { margin-bottom:15px; }
.m_bottom17 { margin-bottom:17px; }
.m_bottom30 { margin-bottom:30px; }
.m_bottom20 { margin-bottom:20px; }
.m_bottom40 { margin-bottom:40px; }
.m_bottom45 { margin-bottom:30px; }
.m_bottom50 { margin-bottom:50px; }
.m_top3 { margin-top:3px; }
.m_top5 { margin-top:5px; }
.m_bottom60 { margin-bottom:60px; }
.m_bottom70 { margin-bottom:70px; }
.m_bottom75 { margin-bottom:75px; }
.m_bottom80 { margin-bottom:80px; }
.m_bottom90 { margin-bottom:90px; }
.m_bottom100 { margin-bottom:100px; }

.m_top60 { margin-top:60px; }
.m_top70 { margin-top:70px; }
.m_top75 { margin-top:75px; }
.m_top80 { margin-top:80px; }
.m_top90 { margin-top:90px; }
.m_top100 { margin-top:100px; }
.m_left5{margin-left: 5px;}
.m_left10{margin-left: 10px;}
.m_left15{margin-left: 15px;}
.m_left20{margin-left: 20px;}
.m_left25{margin-left: 25px;}
.m_left30{margin-left: 30px;}
.m_left35{margin-left: 35px;}
.m_left40{margin-left: 40px;}
.m_left50{margin-left: 50px;}

.m_right5{margin-right: 5px;}
.m_right10{margin-right: 10px;}
.m_right15{margin-right: 15px;}
.m_right25{margin-right: 25px;}
.m_right35{margin-right: 35px;}
.m_right40{margin-right: 40px;}
.m_right45{margin-right: 45px;}
.m_right50{margin-right: 50px;}