#news-article blockquote {
	color:#5bc0de;
	font-size: 1.5em;
	font-family: Georgia;
	font-style: italic;
	font-weight: bold;
	border: 0;
	padding-left: 55px;
	width: 450px;
}

#news-article img .pull-right {
/* trying to add more space between image and text, failed */
padding-left: 30px;
margin-left: 30px;
}

/* overides */
.sidebar__block_recent-articles .article-item{
	margin-bottom: 40px;
	margin-top: 0px;
}
.sidebar__block_recent-articles .btn{
	margin-bottom: 40px;
	margin-top: 0px;
}
.sidebar__block_recent-articles .article-item h3 a {
	line-height: 1.2;
}


/* additions */

.market-update-gap {
	margin: 30px 0 0 30px;
}

.market-update {
	font-weight: bold;
	font-size: 1.0em;
}


.sidebar__block_recent-articles h2{
	margin: 40 20px;
	font-size: 1.66em;
}


.author  {
    margin-top: 90px;
    position: relative;
    font-size: 15px;
}

.author .content {
    padding-left: 110px;
}
.author .content p {
    margin-bottom: 7px;
}

.author .content .authorname {
	color:#5bc0de;
	font-weight: bold;
}
.author .content .contact {
	color:#337ab7;
}


.author img {
    position: absolute;
    left: 0;
    top: 5px;
	width: 89px;
}
.download-pdf-article{
	color: #5bc0de;//#58B7D2;
	text-decoration: none;
	&:hover{
		color: #5bc0de;
		text-decoration: none;
	}
}

.sk-psf-padding{
	padding-right: 4px;
}

@media #{$brk2-ipad-portrait} {
	.sk-modal-dialog-full-mobile-desktop{
		width: 100%;
	}
	.time-as-block-for-mobile{
		display: block;
	}
}

@media #{$brk2-ipad-portrait} {
	
}


@media only screen and (max-width: 1200px) {
	br {
		display: none;
	}
}