// Mixins


@mixin breakpoint($class) {
	@if $class == x-small {
		@media (min-width: $xsmall) { @content; }
	}
	@if $class == x-small-only {
		@media (min-width: $xsmall) and (max-width: $small - 1) { @content; }
	}

	@else if $class == small {
		@media (min-width: $small) { @content; }
	}
	@if $class == small-only {
		@media (min-width: $small) and (max-width: $medium - 1) { @content; }
	}

	@else if $class == medium {
		@media (min-width: $medium) { @content; }
	}
	@if $class == medium-only {
		@media (min-width: $medium) and (max-width: $large - 1) { @content; }
	}

	@else if $class == large {
		@media (min-width: $large) { @content; }
	}
	@if $class == large-only {
		@media (min-width: $large) and (max-width: $x-large - 1) { @content; }
	}

	@else if $class == x-large {
		@media (min-width: $x-large) { @content; }
	}
	@if $class == x-small-only {
		@media (min-width: $x-large) { @content; }
	}

	@else {
		@warn "Breakpoint mixin supports: x-small, small, medium, large, x-large";
	}
}