// Settings

/* Media */
$x-small: 0px;
$small: $screen-xs;
$medium: $screen-sm;
$large: $screen-md;
$x-large: $screen-lg;

/* Basic colors */
$body-color: #333;
$primary-color: #113878;
$secondary-color: #113878;

$link-color: $secondary-color;

/* Buttons */
$btn-primary-bg: $primary-color;
$btn-secondary-bg: #3b3b3b;

$large-1250: 1250px;
$large-1200: 1200px;