#articles {
    .border-bottom {
        border-bottom: 1px solid $primary-color;
        padding-bottom: 10px;
        width: 70%;
        margin: 0 auto;
    }
    h2 {
        font-size: 30px;
    }
}


@media only screen and (max-width: $medium) {
    .article__content iframe {
        width: 100%;
    }
}


@media only screen and (min-width: $large) { 
    #articles {
        .border-bottom {
            border: 0;
            padding: 0;
        }
        .left-border {
            border-right: 1px solid $primary-color;
            height: 180px;
            padding: 0 50px;
        }
        .right-border {
            border-left: 1px solid $primary-color;
            height: 180px;
            padding: 0 50px;
        }
    }
}