#benefits {
    h2 {
        font-size: 24px;
        margin-top: 0;
    }
    .img-responsive {
        margin: 30px auto 0;
    }
    .key_benefits_ul {
    	padding-left: 0;
    	list-style: none;

	    li {
	        margin-bottom: 20px;
	        padding-left: 30px;
	        line-height: 20px;
	        &:before {
	        	font-family: "Glyphicons Halflings";
		        content: "\e013";
		        margin-left: -25px;
		        position: absolute;
		        font-weight: 400;
		        font-size: 15px;
	        }
	    }
    }
}


@media only screen and (min-width: $medium) { 
    #benefits {
        h2 {
        	font-size: 30px;
        	margin-top: 0;
    	}
        .img-responsive {
            margin-top: 0;
        }
        .key_benefits_ul {
    		padding-left: 0;
    	}
    }
}