// Contact

@media only screen and (min-width: $medium) {
	#contact-us {
		h2.margin-bottom-lg {
			margin-bottom: 50px;
		}
	}
}

.skyval-contact-spinner img {
  	width: 50px;
}
.skyval-contact-thanks p {
	padding-top: 20px;
	padding-left: 4px;
	font-size: 16px;
}
.skyval-contact-use-form {

}
.skyval-contact-you-would {
	font-size: 16px;
	line-height: 1.3;
}

.skyval-contact-inputs {
	input{
	  border-radius: 0;
	}
	textarea{
	  border-radius: 0;
	}
}