// Inside

#inside {
    h2 {
        font-size: 26px;
    }
    height: auto;
    .key_advantage_ul {
        padding-left: 25px;
    }
    .carousel-inner {
        margin-bottom: 25px;
    }
    .col-sm-3 {
        a {
            white-space: nowrap;
        }
    }
}

.key_advantage_ul {
    list-style: none;

    li {
        margin-bottom: 20px;
        line-height: 20px;
        &:before{
            font-family: "Glyphicons Halflings";
            content: "\e013";
            margin-left: -25px;
            position: absolute;
            font-weight: 400;
            font-size: 15px;
        }
        
        @media #{$brk2-ipad-portrait} {   
            margin-bottom: 2px;
            line-height: 20px;
        }
    }
}


@media only screen and (min-width: $medium) { 
    #inside {
        h2 {
            font-size: 28px;
        }
        height: auto;
        padding-bottom: 60px;
    }
    .carousel-inner {
        margin-bottom: 0;
    }
}

a{
    @media (min-width: $large) {
        .img-responsive-max-width{
            min-width: 190px;
            width: 100%;
        }
    }
    @media (min-width: $large-1250) {
        .img-responsive-max-width{
            min-width: 190px;
            width: 100%;
        }
    }
    @media (max-width: $large-1200) {
        .img-responsive-max-width{
            min-width: 150px;
            width: 100%;
        }
    }

    .img-responsive-extra-paddings{
        padding: 15px 0px;
    }
}

@media (min-width: $large-1250) {
    .label-extra-paddings{
        position: relative;
        left: 15%;
    }
}

@media (max-width: $large-1250) {
    .label-extra-paddings{
        position: relative;
        left: 15%;
    }
}

@media (max-width: $screen-md) {
    .label-extra-paddings{
        position: relative;
        left: 0;
    }
}

.img-responsive-extra-paddings-slide{
    padding-top: 40px;
}
@media (min-width: $large) {
    .slider-col-height-xl{
        margin-right: 30px;
        min-height: 205px;
    }
}
