#newshome {
  margin-top: 112px;
  padding: 20px 0;
  min-height: 700px;

  .article__header {
    padding: 0 20px;

    h1 {
      margin-left: 14px;
    }
  }

  .newshome__download {
    padding-top: 30px;
    color: $brand-info;
    a {
      white-space: nowrap;
      color: $brand-info;
    }
  }

  .newshome__blocks {
    .row {
      margin-left: -45px;
      margin-right: -45px;
    }
  }

  .newshome__block {
    height: 410px;
    border-right: 1px solid $brand-primary;
    margin-bottom: 50px;

    &:last-child {
      border-right: none;
    }
  }

  .newshome__row {
    position: relative;
    margin-left: -20px;
    margin-right: -20px;
  }

  .newshome__content {
    padding: 0 20px;
  }

  .newshome__date {
    font-size: 13px;
    color: #666;
    margin-bottom: 10px;
  }
  .newshome__headline {
    display: block;
    min-height: 44px;
    font-size: 16px;
    color: $brand-primary;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .newshome__image {
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .newshome__text {

  }

}


@media only screen and (max-width: $x-large) {
  #newshome {
    min-height: 600px;
    .newshome__image {
      height: auto;
    }
    .newshome__content {
      padding: 0 20px;
    }
  }
}

@media only screen and (max-width: $large) {
  #newshome {
    min-height: 560px;

    .newshome__download {
      padding-top: 20px;
    }

    .divider {
      display: none;
    }

    .newshome__blocks {
      .row {
        margin-left: -25px;
        margin-right: -25px;
      }
    }
    .newshome__block {
      height: 380px;
    }


    .newshome__content {
      padding: 0;
    }

    .newshome__text {
      font-size: 13px;
    }
  }
}

@media only screen and (max-width: $medium - 1) {
  #newshome {
    min-height: unset;

    .newshome__download {
      padding-top: 0px;
      padding-bottom: 20px;
    }

    .divider {
      display: block;
      line-height:0;
      visibility: hidden;
    }

    .newshome__blocks {
      .row {
        margin-left: -25px;
        margin-right: -25px;
      }
    }
    .newshome__block {
      height: auto;
      border: 0;
      border-bottom: 1px solid $brand-primary;
      margin-bottom: 25px;
      padding-bottom: 25px;
    }

    .newshome__headline {
      min-height: auto;
    }

    .newshome__image {
      height: auto;
    }
    .newshome__content {
      padding: 0;
    }

    .newshome__text {
      font-size: 13px;
    }
  }
}