// Testimonials

#testimonials {
    margin-bottom: 10px; 
    padding: 225px 0 20px;
    overflow: hidden;

    h2 {
        font-size: 26px;
    }
    .carousel-inner {
        overflow: visible;
    }


    @media only screen and (min-width: $medium) {
        margin: 0;
        padding: 0; 
        h2 {
            font-size: 28px;
        }
        .carousel-inner {
            overflow: hidden;
        }
    }
    @media only screen and (min-width: $large) {
        margin: 0;
        padding: 0; 
    }
    @media only screen and (min-width: $small) {

    }
}

.testimonials_slider {
    .slide {
        a.right .glyphicon-menu-right {
            background:url(../img/slider-arrow-icon.png) no-repeat 0 0;
            height:44px;
            width:22px;
            &:hover {
                background-position: 0px -56px;
            }
            &:before {
                content:inherit;
                display:none;
            }
    }

     a.left .glyphicon-menu-left {

        background:url(../img/slider-arrow-left-icon.png) no-repeat 0 0;
        height:44px;
        width:22px;

        &:hover {
            background-position: 0px -56px;
        }

        &:before {
            content:inherit;
            display:none;
        }
    }
            
    .slide-image {
        position: absolute;
        width: 100%;
        left: 0;
        top: -225px;
        height: 210px;
        overflow: hidden;
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        background-position: center;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
        -moz-box-shadow: rgba(0,0,0,0.5) 0px -10px 20px -10px inset;
        -webkit-box-shadow: rgba(0,0,0,0.5) 0px -10px 20px -10px inset;
        box-shadow: rgba(0,0,0,0.5) 0px -10px 20px -10px inset;
        @media only screen and (min-width: $large) { 
            width: 50%;
        }
        @media only screen and (min-width: $medium) { 
            display: block;
            width: 45%;
            top: 0;
            height: 450px;

        }
    }

    #slide-1,  {
    background-image: url('../img/slides/slide1.jpg');
    }

    #slide-2 {
    background-image: url('../img/slides/slide2.png');
    }
    #slide-3 {
    background-image: url('../img/slides/slide3.png');
    }
    #slide-4 {
    background-image: url('../img/slides/slide4.png');
    }
    #slide-5 {
        background-image: url('../img/slides/slide5.png');
    }
    #slide-6 {
        cursor: pointer;
        background-image: url('../img/slides/slide6.png');
    }
        img {
            min-width: 100%;
            height: 100%;
        }
    }

    .slide a.left .glyphicon-menu-left, .slide a.right .glyphicon-menu-right, #big_slide_slider .carousel-control .glyphicon-menu-left {
        @media #{$brk-iphone6-portrait} {
            background: none !important;
        }
        @media #{$brk-iphone5-portrait} {
            background: none !important;
        }
    }
    
    .slide-content{
        padding: 65px 70px 50px 85px;
        height: 450px;
        overflow: hidden;

        @media #{$brk-med-desk-2} {
            height: auto;
        }
        
        @media #{$brk-iphone5-portrait} {
            height: auto;
        }
        @media #{$brk-iphone6plus-landscape} {
            height: auto;
        }

        @media #{$brk-iphone6plus-portrait} {
            height: auto;
        }
        @media #{$brk-iphone6-portrait} {
            height: auto;
        }

        ul {
            list-style: none;
            padding-left: 0;
            
            li {
                padding-left: 25px;
                position: relative;
                line-height: 22px;
                margin-bottom: 10px;
                @media #{$brk-med-desk} {line-height: 15px;}
            }
            li:before{
                content: "\e250";
                font-family: 'Glyphicons Halflings';
                position: absolute;
                left: 0px;
                font-size:12px;
            }
        }

        .quoted-by {
            font-weight: bold;
        }
    }

}

.testimonials_slider .slide-content {
    @media only screen and (max-width: $large) { 
       padding: 25px 40px 50px 25px
    }
}

.testimonials_slider .slide-content ul {
    @media #{$brk-iphone5-portrait} {
       padding: 0;
    }   
    @media #{$brk-iphone6-portrait} {
       padding: 0;
    }
    @media #{$brk-iphone6plus-portrait} {
       padding: 0;
    }
}