// Test Drive

#test-drive {
	h2 {
		font-size: 26px;
	}
	.img-responsive {
		display: none;
	}
}

@media only screen and (min-width: $medium) { 
    #test-drive {
    	h2 {
			font-size: 28px;
			font-weight: 600;
		}
        .img-responsive {
            display: block;
        }
    }
}