// Users

#users {
	.img-responsive {
		margin-top: 0;
	}
	#corportate, #trustees, #advisors {
		p {
			max-width: 320px;
			margin: 0 auto;
			line-height: 22px;
			color: #404041;
		}
	}
}

@media only screen and (max-width: $medium) { 
    #users {
        .img-responsive {
            margin-top: 30px;
        }
    }
}