.btn-dark {
  background-color: #113878;
  border-color: #113878;
  color: #fff;
}
.btn-dark:hover {
  background-color: #174da5;
  border-color: #174da5;
  color: #fff;
}
.btn-dark:active {
  background-color: #174da5;
  border-color: #174da5;
  color: #fff;
}
.btn-dark:focus {
  background-color: #174da5;
  border-color: #174da5;
  color: #fff;
}

.text-dark {
  color: #113878;
}
.text-dark:hover {
  color: #174da5;
}
.text-dark:active {
  color: #174da5;
}
.text-dark:focus {
  color: #174da5;
}

.square_preview {
  width: 180px;
  height: 180px;
}

.checkbox_dark:checked + label:before {
  background-color: #113878;
  border-color: #113878;
}

.sk-text-vcenter {
  padding-top: 5px;
}

.form-container {
  padding-bottom: 40px;
}

.pagination-row > .pagination > .active > span {
  z-index: 3;
  color: #fff;
  background-color: #113878;
  border-color: #113878;
  cursor: default;
}

.pagination-row > .pagination li a {
  color: #113878;
}

.sk-datapicker-padding {
  padding-bottom: 15px;
}

.bootstrap-datetimepicker-widget table td.active {
  background-color: #113878;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.redactor-toolbar {
  position: initial;
}

.extra-paddings{
  padding: 10px 0px;
}