// About Us

#aboutus {
    h2 {
        font-size: 26px;
        margin-top: 0;
    }
    .img-responsive {
        margin: 30px auto 0;
    }
}

@media only screen and (min-width: $medium) { 
    #aboutus {
        h2 {
            font-size: 30px;
            margin-top: 0;
        }
        .img-responsive {
            margin-top: 0;
        }
    }
}