// Inside

#inside {
    h2 {
        font-size: 26px;
    }
    height: auto;
    .key_advantage_ul {
        padding-left: 25px;
    }
    .carousel-inner {
        margin-bottom: 25px;
    }
    .col-sm-3 {
        a {
            white-space: nowrap;
        }
    }
}

.key_advantage_ul {
    list-style: none;

    li {
        margin-bottom: 20px;
        line-height: 20px;
        &:before{
            font-family: "Glyphicons Halflings";
            content: "\e013";
            margin-left: -25px;
            position: absolute;
            font-weight: 400;
            font-size: 15px;
        }
        
        @media #{$brk2-ipad-portrait} {   
            margin-bottom: 2px;
            line-height: 20px;
        }
    }
}


@media only screen and (min-width: $medium) { 
    #inside {
        h2 {
            font-size: 28px;
        }
        height: auto;
        padding-bottom: 60px;
    }
    .carousel-inner {
        margin-bottom: 0;
    }
}