/* ADMIN CSS GOES HERE */
/* line 5, ../sass/admin.screen.scss */
input:focus, textarea:focus, select:focus {
  border: 1px solid #ccc !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.075) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.075) !important;
}

/* line 12, ../sass/admin.screen.scss */
a, button, input {
  outline: none !important;
}
/* line 15, ../sass/admin.screen.scss */
a::-moz-focus-inner, a::-moz-focus-inner, button::-moz-focus-inner, button::-moz-focus-inner, input::-moz-focus-inner, input::-moz-focus-inner {
  border: none !important;
  outline: none !important;
}

/* line 21, ../sass/admin.screen.scss */
.form-group {
  border: none !important;
  outline: none !important;
}

/* line 1, ../sass/_uploader.scss */
.preview-uploader {
  position: relative;
  width: 320px;
  height: 180px;
  margin-top: 10px;
}
/* line 7, ../sass/_uploader.scss */
.preview-uploader > label {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #999;
  background-color: #eee;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  display: table;
  background-size: contain;
  background-position: 0% 50%;
  background-repeat: no-repeat;
}
/* line 25, ../sass/_uploader.scss */
.preview-uploader > label > span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #666;
  text-shadow: 1px 1px 0 #fff;
}
/* line 33, ../sass/_uploader.scss */
.preview-uploader > label .clicktochange {
  display: none;
}
/* line 37, ../sass/_uploader.scss */
.preview-uploader > label.loaded {
  background-color: transparent;
}
/* line 39, ../sass/_uploader.scss */
.preview-uploader > label.loaded .justimage {
  display: none;
}
/* line 44, ../sass/_uploader.scss */
.preview-uploader > label.loaded:hover .clicktochange {
  display: table-cell;
}
/* line 52, ../sass/_uploader.scss */
.preview-uploader > input[type=file] {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

/* line 2, ../sass/_checkbox.scss */
.toggle-switch-group {
  height: 36px;
}
/* line 4, ../sass/_checkbox.scss */
.toggle-switch-group label {
  font-weight: normal;
  display: block;
}

/* line 10, ../sass/_checkbox.scss */
span.toggle-switch-group {
  display: inline-block;
  margin-right: 20px;
}
/* line 14, ../sass/_checkbox.scss */
span.toggle-switch-group:nth-last-child {
  margin-right: 0;
}

/* line 19, ../sass/_checkbox.scss */
.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}

/* line 25, ../sass/_checkbox.scss */
.checkbox + label {
  cursor: pointer;
  color: #939598;
  font-size: 12px;
}

/* line 31, ../sass/_checkbox.scss */
.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}

/* line 35, ../sass/_checkbox.scss */
.checkbox:not(checked) + label {
  position: relative;
  padding: 16px 0 0 0;
}

/* line 40, ../sass/_checkbox.scss */
.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 39px;
  height: 18px;
  border-radius: 9px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}

/* line 52, ../sass/_checkbox.scss */
.checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -3px;
  left: 1px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all .2s;
}

/* line 65, ../sass/_checkbox.scss */
.checkbox:checked + label:before {
  background: #db536a;
}

/* line 69, ../sass/_checkbox.scss */
.checkbox:checked + label:after {
  left: 22px;
}

/* line 78, ../sass/_checkbox.scss */
.radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}

/* line 84, ../sass/_checkbox.scss */
.radio + label {
  cursor: pointer;
}

/* line 87, ../sass/_checkbox.scss */
.radio:not(checked) {
  position: absolute;
  opacity: 0;
}

/* line 91, ../sass/_checkbox.scss */
.radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}

/* line 95, ../sass/_checkbox.scss */
.radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -7px;
  left: 0;
  width: 28px;
  height: 28px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}

/* line 106, ../sass/_checkbox.scss */
.radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -3px;
  left: 4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #db536a;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all .2s;
}

/* line 119, ../sass/_checkbox.scss */
.radio:checked + label:after {
  opacity: 1;
}

/* line 1, ../sass/_select2.scss */
.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

/* line 9, ../sass/_select2.scss */
.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 28px;
  user-select: none;
  -webkit-user-select: none;
}

/* line 18, ../sass/_select2.scss */
.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 8px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 27, ../sass/_select2.scss */
.select2-container .select2-selection--single .select2-selection__clear {
  position: relative;
}

/* line 31, ../sass/_select2.scss */
.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px;
}

/* line 36, ../sass/_select2.scss */
.select2-container .select2-selection--multiple {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  user-select: none;
  -webkit-user-select: none;
}

/* line 45, ../sass/_select2.scss */
.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 53, ../sass/_select2.scss */
.select2-container .select2-search--inline {
  float: left;
}

/* line 57, ../sass/_select2.scss */
.select2-container .select2-search--inline .select2-search__field {
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  padding: 0;
}

/* line 65, ../sass/_select2.scss */
.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 69, ../sass/_select2.scss */
.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

/* line 81, ../sass/_select2.scss */
.select2-results {
  display: block;
}

/* line 85, ../sass/_select2.scss */
.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 91, ../sass/_select2.scss */
.select2-results__option {
  padding: 6px;
  user-select: none;
  -webkit-user-select: none;
}

/* line 97, ../sass/_select2.scss */
.select2-results__option[aria-selected] {
  cursor: pointer;
}

/* line 101, ../sass/_select2.scss */
.select2-container--open .select2-dropdown {
  left: 0;
}

/* line 105, ../sass/_select2.scss */
.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 111, ../sass/_select2.scss */
.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* line 117, ../sass/_select2.scss */
.select2-search--dropdown {
  display: block;
  padding: 4px;
}

/* line 122, ../sass/_select2.scss */
.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}

/* line 128, ../sass/_select2.scss */
.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 132, ../sass/_select2.scss */
.select2-search--dropdown.select2-search--hide {
  display: none;
}

/* line 136, ../sass/_select2.scss */
.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0);
}

/* line 154, ../sass/_select2.scss */
.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

/* line 165, ../sass/_select2.scss */
.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
}

/* line 171, ../sass/_select2.scss */
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}

/* line 176, ../sass/_select2.scss */
.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
}

/* line 182, ../sass/_select2.scss */
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

/* line 186, ../sass/_select2.scss */
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}

/* line 194, ../sass/_select2.scss */
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

/* line 207, ../sass/_select2.scss */
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

/* line 211, ../sass/_select2.scss */
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto;
}

/* line 216, ../sass/_select2.scss */
.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default;
}

/* line 221, ../sass/_select2.scss */
.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}

/* line 225, ../sass/_select2.scss */
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

/* line 230, ../sass/_select2.scss */
.select2-container--default .select2-selection--multiple {
  background-color: white;
  min-height: 34px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-radius: 4px;
  cursor: text;
}

/* line 246, ../sass/_select2.scss */
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}

/* line 254, ../sass/_select2.scss */
.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
  color: #999;
  margin-top: 5px;
  float: left;
}

/* line 260, ../sass/_select2.scss */
.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
}

/* line 268, ../sass/_select2.scss */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

/* line 279, ../sass/_select2.scss */
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #C55530;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 4px;
  font-size: 18px;
  line-height: 20px;
  position: relative;
  top: -1px;
}

/* line 291, ../sass/_select2.scss */
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #333;
}

/* line 295, ../sass/_select2.scss */
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: right;
}

/* line 299, ../sass/_select2.scss */
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

/* line 304, ../sass/_select2.scss */
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

/* line 309, ../sass/_select2.scss */
.select2-container--default.select2-container--focus .select2-selection--multiple {
  outline: 0;
}

/* line 314, ../sass/_select2.scss */
.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}

/* line 319, ../sass/_select2.scss */
.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}

/* line 323, ../sass/_select2.scss */
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* line 328, ../sass/_select2.scss */
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 333, ../sass/_select2.scss */
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
}

/* line 337, ../sass/_select2.scss */
.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none !important;
  outline: 0 !important;
  box-shadow: none !important;
  -webkit-appearance: textfield;
}

/* line 345, ../sass/_select2.scss */
.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

/* line 350, ../sass/_select2.scss */
.select2-container--default .select2-results__option[role=group] {
  padding: 0;
}

/* line 354, ../sass/_select2.scss */
.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999;
}

/* line 358, ../sass/_select2.scss */
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd;
}

/* line 362, ../sass/_select2.scss */
.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}

/* line 366, ../sass/_select2.scss */
.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}

/* line 370, ../sass/_select2.scss */
.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}

/* line 375, ../sass/_select2.scss */
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}

/* line 380, ../sass/_select2.scss */
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}

/* line 385, ../sass/_select2.scss */
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}

/* line 390, ../sass/_select2.scss */
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}

/* line 395, ../sass/_select2.scss */
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white;
}

/* line 400, ../sass/_select2.scss */
.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

/* line 406, ../sass/_select2.scss */
.select2-container--classic .select2-selection--single {
  background-color: #f7f7f7;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: 0;
  background-image: -webkit-linear-gradient(top, white 50%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, white 50%, #eeeeee 100%);
  background-image: linear-gradient(to bottom, white 50%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}

/* line 418, ../sass/_select2.scss */
.select2-container--classic .select2-selection--single:focus {
  border: 1px solid #5897fb;
}

/* line 422, ../sass/_select2.scss */
.select2-container--classic .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}

/* line 427, ../sass/_select2.scss */
.select2-container--classic .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-right: 10px;
}

/* line 434, ../sass/_select2.scss */
.select2-container--classic .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

/* line 438, ../sass/_select2.scss */
.select2-container--classic .select2-selection--single .select2-selection__arrow {
  background-color: #ddd;
  border: none;
  border-left: 1px solid #aaa;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  background-image: -webkit-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
  background-image: -o-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
  background-image: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0);
}

/* line 456, ../sass/_select2.scss */
.select2-container--classic .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

/* line 469, ../sass/_select2.scss */
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

/* line 473, ../sass/_select2.scss */
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto;
}

/* line 483, ../sass/_select2.scss */
.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb;
}

/* line 487, ../sass/_select2.scss */
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
  background: transparent;
  border: none;
}

/* line 492, ../sass/_select2.scss */
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

/* line 497, ../sass/_select2.scss */
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: -webkit-linear-gradient(top, white 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(top, white 0%, #eeeeee 50%);
  background-image: linear-gradient(to bottom, white 0%, #eeeeee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}

/* line 508, ../sass/_select2.scss */
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #eeeeee 50%, white 100%);
  background-image: -o-linear-gradient(top, #eeeeee 50%, white 100%);
  background-image: linear-gradient(to bottom, #eeeeee 50%, white 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0);
}

/* line 519, ../sass/_select2.scss */
.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0;
}

/* line 527, ../sass/_select2.scss */
.select2-container--classic .select2-selection--multiple:focus {
  border: 1px solid #5897fb;
}

/* line 531, ../sass/_select2.scss */
.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
  list-style: none;
  margin: 0;
  padding: 0 5px;
}

/* line 537, ../sass/_select2.scss */
.select2-container--classic .select2-selection--multiple .select2-selection__clear {
  display: none;
}

/* line 541, ../sass/_select2.scss */
.select2-container--classic .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

/* line 552, ../sass/_select2.scss */
.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
  color: #888;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

/* line 560, ../sass/_select2.scss */
.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #555;
}

/* line 564, ../sass/_select2.scss */
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  float: right;
}

/* line 568, ../sass/_select2.scss */
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

/* line 573, ../sass/_select2.scss */
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

/* line 578, ../sass/_select2.scss */
.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb;
}

/* line 582, ../sass/_select2.scss */
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* line 588, ../sass/_select2.scss */
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 594, ../sass/_select2.scss */
.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0;
}

/* line 599, ../sass/_select2.scss */
.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
  box-shadow: none;
}

/* line 604, ../sass/_select2.scss */
.select2-container--classic .select2-dropdown {
  background-color: white;
  border: 1px solid transparent;
}

/* line 609, ../sass/_select2.scss */
.select2-container--classic .select2-dropdown--above {
  border-bottom: none;
}

/* line 613, ../sass/_select2.scss */
.select2-container--classic .select2-dropdown--below {
  border-top: none;
}

/* line 617, ../sass/_select2.scss */
.select2-container--classic .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

/* line 622, ../sass/_select2.scss */
.select2-container--classic .select2-results__option[role=group] {
  padding: 0;
}

/* line 626, ../sass/_select2.scss */
.select2-container--classic .select2-results__option[aria-disabled=true] {
  color: grey;
}

/* line 630, ../sass/_select2.scss */
.select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #3875d7;
  color: white;
}

/* line 635, ../sass/_select2.scss */
.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

/* line 641, ../sass/_select2.scss */
.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb;
}

/* line 33, ../sass/admin.screen.scss */
.pwc-logo {
  max-width: 45px;
  position: relative;
  top: -6px;
  display: inline-block !important;
  margin-right: 8px;
}

/* line 42, ../sass/admin.screen.scss */
#page-wrapper {
  padding-top: 10px;
}
/* line 45, ../sass/admin.screen.scss */
#page-wrapper h1 {
  font-size: 24px;
  color: #666;
}

/* line 51, ../sass/admin.screen.scss */
.tweet_row .input-date input {
  width: 250px;
  height: 28px;
  float: left;
}

/* line 57, ../sass/admin.screen.scss */
.tweet_row textarea {
  height: 110px;
}

/* line 61, ../sass/admin.screen.scss */
.tweet_row .checkbox_formbox_wrapper .checkbox_formbox {
  margin: 5px 6px;
  display: inline-block;
  background: #eee;
  padding: 2px 10px 0;
  border-radius: 4px;
}

/* line 69, ../sass/admin.screen.scss */
.tweet_row .checkbox_formbox_wrapper .checked {
  background: #bbc;
}

/* line 73, ../sass/admin.screen.scss */
.hidden {
  display: none;
}

/* line 79, ../sass/admin.screen.scss */
.nobr {
  white-space: nowrap;
}

/* line 83, ../sass/admin.screen.scss */
.nobold {
  font-weight: normal !important;
}

/* line 88, ../sass/admin.screen.scss */
.create-edit-form h1 {
  font-weight: bold;
  font-size: 26px !important;
}
/* line 93, ../sass/admin.screen.scss */
.create-edit-form .form-group-modified {
  margin-bottom: 10px;
}

/* line 98, ../sass/admin.screen.scss */
.aside-block {
  color: #999;
}
/* line 101, ../sass/admin.screen.scss */
.aside-block input, .aside-block a.btn {
  min-width: 110px;
}

/* line 106, ../sass/admin.screen.scss */
.aside-block {
  margin: 10px;
  font-size: 16px;
}
/* line 110, ../sass/admin.screen.scss */
.aside-block .form-control {
  margin-top: 5px;
  font-size: 15px;
  font-weight: bold;
  padding: 7px 8px;
}

/* line 118, ../sass/admin.screen.scss */
.aside-block-topmargin {
  margin-top: 50px;
}

/* line 122, ../sass/admin.screen.scss */
.aside-char-count-txt {
  position: relative;
  width: 200px;
}

/* line 127, ../sass/admin.screen.scss */
.aside-char-count {
  position: relative;
  color: #333;
}

/* line 132, ../sass/admin.screen.scss */
.aside-char-count-icon {
  position: absolute;
  left: -20px;
  display: none;
}

/* line 138, ../sass/admin.screen.scss */
.oversized {
  color: #C55530;
}
/* line 141, ../sass/admin.screen.scss */
.oversized .aside-char-count-icon {
  display: block;
}

/* line 146, ../sass/admin.screen.scss */
.navbar-fixed-top {
  z-index: 9 !important;
}

/* line 150, ../sass/admin.screen.scss */
.btn-wide {
  padding: 7px 25px;
  margin-right: 4px;
}

/* line 155, ../sass/admin.screen.scss */
.mgt-15 {
  margin-top: 15px;
}

/* line 159, ../sass/admin.screen.scss */
.font-bold {
  font-weight: bold;
}

/* line 166, ../sass/admin.screen.scss */
.label-modified {
  display: block;
  text-align: right;
  margin-top: 5px;
  margin-right: 8px;
  font-size: 14px;
}

/* line 174, ../sass/admin.screen.scss */
.col-fixed-padding {
  padding-left: 94px;
  position: relative;
}

/* line 180, ../sass/admin.screen.scss */
.col-fixed-padding-filter label {
  font-weight: normal;
}

/* line 185, ../sass/admin.screen.scss */
.col-fixed-width {
  width: 74px;
  min-height: 1px;
  position: absolute;
  left: 20px;
  top: 0;
}

@media screen and (max-width: 992px) {
  /* line 198, ../sass/admin.screen.scss */
  .label-modified {
    text-align: left;
  }

  /* line 201, ../sass/admin.screen.scss */
  .col-fixed-width {
    position: relative;
    left: 0;
  }

  /* line 205, ../sass/admin.screen.scss */
  .col-fixed-padding {
    padding-left: 15px;
  }
}
/* line 212, ../sass/admin.screen.scss */
.modal-confirm .modal-body {
  text-align: center;
}
/* line 214, ../sass/admin.screen.scss */
.modal-confirm .modal-body .fa {
  font-size: 48px;
  display: block;
  text-align: center;
  color: #C55530;
}
/* line 220, ../sass/admin.screen.scss */
.modal-confirm .modal-body h2 {
  margin-top: 0;
  color: #C55530;
}
/* line 225, ../sass/admin.screen.scss */
.modal-confirm .modal-footer {
  text-align: center;
}

/* line 232, ../sass/admin.screen.scss */
.modal-ask .modal-body {
  text-align: center;
}
/* line 234, ../sass/admin.screen.scss */
.modal-ask .modal-body .fa {
  font-size: 48px;
  display: block;
  text-align: center;
  color: #db536a;
}
/* line 240, ../sass/admin.screen.scss */
.modal-ask .modal-body h2 {
  font-size: 28px;
  margin-top: 0;
  color: #db536a;
  font-weight: normal;
}
/* line 247, ../sass/admin.screen.scss */
.modal-ask .modal-footer {
  text-align: center;
}

/* line 253, ../sass/admin.screen.scss */
.post-filter-label:first-child {
  margin-top: 10px;
}

/* line 256, ../sass/admin.screen.scss */
.post-filter-submit {
  margin-top: 12px;
}

/* line 262, ../sass/admin.screen.scss */
.smd-table {
  margin-top: 20px;
}
/* line 265, ../sass/admin.screen.scss */
.smd-table th, .smd-table td {
  border: 0 !important;
}
/* line 269, ../sass/admin.screen.scss */
.smd-table th {
  color: #939598;
  font-weight: normal;
}
/* line 274, ../sass/admin.screen.scss */
.smd-table .archive-link, .smd-table .color-gray {
  color: #939598;
}
/* line 278, ../sass/admin.screen.scss */
.smd-table .filter-sort-heading {
  color: #939598;
  text-decoration: none;
}
/* line 283, ../sass/admin.screen.scss */
.smd-table tbody > tr:nth-of-type(odd) {
  background-color: #ededee !important;
}

/* line 291, ../sass/admin.screen.scss */
.small-gutter {
  margin-left: -2px;
  margin-right: -2px;
}
/* line 295, ../sass/admin.screen.scss */
.small-gutter > [class*='col-'] {
  padding-right: 2px;
  padding-left: 2px;
}

/* line 301, ../sass/admin.screen.scss */
.color-gray {
  color: #939598;
}

/* line 308, ../sass/admin.screen.scss */
.filter {
  padding-bottom: 10px;
}

/* line 312, ../sass/admin.screen.scss */
.filter-switches {
  margin-left: 30px;
  margin-top: 5px;
}

/* line 317, ../sass/admin.screen.scss */
.filter-search-group {
  padding-left: 50px !important;
  position: relative;
}

/* line 322, ../sass/admin.screen.scss */
.filter-search-label {
  position: absolute;
  left: 0;
  top: 8px;
}

/* line 328, ../sass/admin.screen.scss */
.filter-campaign-group {
  padding-left: 117px !important;
  position: relative;
}

/* line 333, ../sass/admin.screen.scss */
.filter-campaign-label {
  position: absolute;
  left: 40px;
  top: 2px;
}

/* line 339, ../sass/admin.screen.scss */
.filter-submit {
  padding-left: 65px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: -5px;
}

@media screen and (max-width: 1320px) {
  /* line 348, ../sass/admin.screen.scss */
  .filter-submit {
    padding-left: 0;
  }
}
@media screen and (max-width: 1200px) {
  /* line 355, ../sass/admin.screen.scss */
  .filter-switches {
    margin-left: 10px;
  }

  /* line 359, ../sass/admin.screen.scss */
  .filter-campaign-group {
    padding-left: 80px !important;
  }

  /* line 363, ../sass/admin.screen.scss */
  .filter-campaign-label {
    left: 7px;
  }
}
/* line 368, ../sass/admin.screen.scss */
.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
