/* line 4, ../sass/app.scss */
.btn-dark {
  background-color: #113878;
  border-color: #113878;
  color: #fff;
}
/* line 8, ../sass/app.scss */
.btn-dark:hover {
  background-color: #174da5;
  border-color: #174da5;
  color: #fff;
}
/* line 13, ../sass/app.scss */
.btn-dark:active {
  background-color: #174da5;
  border-color: #174da5;
  color: #fff;
}
/* line 18, ../sass/app.scss */
.btn-dark:focus {
  background-color: #174da5;
  border-color: #174da5;
  color: #fff;
}

/* line 25, ../sass/app.scss */
.text-dark {
  color: #113878;
}
/* line 27, ../sass/app.scss */
.text-dark:hover {
  color: #174da5;
}
/* line 31, ../sass/app.scss */
.text-dark:active {
  color: #174da5;
}
/* line 35, ../sass/app.scss */
.text-dark:focus {
  color: #174da5;
}

/* line 40, ../sass/app.scss */
.square_preview {
  width: 180px;
  height: 180px;
}

/* line 45, ../sass/app.scss */
.checkbox_dark:checked + label:before {
  background-color: #113878;
  border-color: #113878;
}
