/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/************************************* Scrollbar *************************************/
/* line 10, ../sass/public.scss */
.slimScrollBar, .slimScrollRail {
  border-radius: 0 !important;
}

/*END ******************************** Scrollbar *************************************/
/************************************* GENERAL *************************************/
/* line 16, ../sass/public.scss */
.clearfix, #container {
  *zoom: 1;
}
/* line 17, ../sass/public.scss */
.clearfix:before, #container:before, .clearfix:after, #container:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 21, ../sass/public.scss */
.clearfix:after, #container:after {
  clear: both;
}

/* line 26, ../sass/public.scss */
.noselect, #container #content .scrollable_list ul li {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 34, ../sass/public.scss */
.border_box, #container {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

/* line 39, ../sass/public.scss */
.fancy_font, h1, h2, #container #content #pwc_tweets .tweet, #container #content #main_tweets .tweet {
  font-family: Georgia, serif;
}

/* line 42, ../sass/public.scss */
.system_font, .button, body, #container #content #main_tweets .meta p {
  font-family: Arial, Helvetica, sans-serif;
}

/* line 45, ../sass/public.scss */
p {
  margin-bottom: 10px;
}

/* line 49, ../sass/public.scss */
.table {
  display: table;
  width: inherit;
  height: inherit;
}
/* line 53, ../sass/public.scss */
.table .table_cell {
  display: table-cell;
  width: inherit;
  height: inherit;
  vertical-align: middle;
}

/* line 61, ../sass/public.scss */
.errors {
  color: #ff0000;
  font-size: 18px;
  color: #ff0000;
  margin: 10px;
  line-height: 1.2;
}

/* line 68, ../sass/public.scss */
.button {
  border-radius: 7px;
  cursor: pointer;
  display: inline-block;
  padding: 7px 12px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  background: #d4526c;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 80, ../sass/public.scss */
.button:hover {
  background: #de7b8f;
}

/* line 84, ../sass/public.scss */
h1 {
  font-weight: 400;
  color: #968c6d;
  font-size: 30px;
  line-height: 1.2;
}

/* line 91, ../sass/public.scss */
h2 {
  font-size: 18px;
  color: #968c6d;
  line-height: 1.2;
}

/* line 97, ../sass/public.scss */
.light_blue_bg {
  background: #f2f4f5 !important;
}

/* line 100, ../sass/public.scss */
.dropdown {
  width: 225px;
  height: 30px;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #535454;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #fcfdff 4%, #fcfdff 19%, #f8fafc 35%, #dfe0e2 96%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(4%, #fcfdff), color-stop(19%, #fcfdff), color-stop(35%, #f8fafc), color-stop(96%, #dfe0e2), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #ffffff 0%, #fcfdff 4%, #fcfdff 19%, #f8fafc 35%, #dfe0e2 96%, #ffffff 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #fcfdff 4%, #fcfdff 19%, #f8fafc 35%, #dfe0e2 96%, #ffffff 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #fcfdff 4%, #fcfdff 19%, #f8fafc 35%, #dfe0e2 96%, #ffffff 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #fcfdff 4%, #fcfdff 19%, #f8fafc 35%, #dfe0e2 96%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
  outline: none;
  cursor: pointer;
  clear: both;
}

/* line 118, ../sass/public.scss */
.dropdown option {
  padding: 5px 5px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  font-size: 14px;
}

/* line 126, ../sass/public.scss */
body {
  background: #e5e9eb;
  font-size: 14px;
  line-height: 1.2;
}

/************************************* MAIN *************************************/
/* line 134, ../sass/public.scss */
#container {
  max-width: 1200px;
  height: 100%;
  margin: 20px auto;
  padding: 5px;
}
/* line 141, ../sass/public.scss */
#container #header {
  clear: both;
  overflow: hidden;
  margin-bottom: 15px;
}
/* line 145, ../sass/public.scss */
#container #header img.logo {
  float: left;
}
/* line 148, ../sass/public.scss */
#container #header #welcome_msg {
  float: left;
  margin: 5px 0 0 15px;
}
/* line 151, ../sass/public.scss */
#container #header #welcome_msg h1 {
  margin-top: 4px;
}
/* line 154, ../sass/public.scss */
#container #header #welcome_msg h2 {
  margin-top: 4px;
  font-size: 23px;
}
/* line 159, ../sass/public.scss */
#container #header .button {
  float: right;
  margin: 45px 10px 0 0;
}
/* line 166, ../sass/public.scss */
#container #content #column1 {
  float: left;
  width: 26%;
}
/* line 170, ../sass/public.scss */
#container #content #column2 {
  width: 46%;
  float: left;
  margin: 0 10px;
}
/* line 175, ../sass/public.scss */
#container #content #column3 {
  width: 26%;
  float: left;
}
/* line 179, ../sass/public.scss */
#container #content #filter_by_hashtag li,
#container #content #filter_by_campaign li {
  cursor: pointer;
}
/* line 183, ../sass/public.scss */
#container #content .scrollable_list {
  background: #fff;
  height: 276px;
  padding: 12px 3px 42px 12px;
  border-radius: 5px;
  border: 1px solid #b3b3b3;
  margin-bottom: 10px;
  line-height: 1.2;
  overflow: hidden;
}
/* line 192, ../sass/public.scss */
#container #content .scrollable_list h2 {
  margin-bottom: 10px;
}
/* line 195, ../sass/public.scss */
#container #content .scrollable_list select {
  display: none;
}
/* line 198, ../sass/public.scss */
#container #content .scrollable_list .scroll {
  width: inherit;
  height: inherit;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 12px;
}
/* line 206, ../sass/public.scss */
#container #content .scrollable_list ul li {
  font-size: 14px;
  margin-bottom: 16px;
  line-height: 1.5;
}
/* line 211, ../sass/public.scss */
#container #content .scrollable_list ul li i {
  display: none;
}
/* line 214, ../sass/public.scss */
#container #content .scrollable_list ul li.active {
  color: #d4526c;
}
/* line 216, ../sass/public.scss */
#container #content .scrollable_list ul li.active i {
  margin-left: 1px;
  display: inline-block;
}
/* line 224, ../sass/public.scss */
#container #content .tweet_ajax_loader {
  background: url(../images/ajax_loader_24.gif) no-repeat;
  width: 24px;
  height: 24px;
  position: relative;
  top: 7px;
  left: 7px;
  display: inline-block;
}
/* line 234, ../sass/public.scss */
#container #content .tweet_disabled .tweet_text {
  color: #6d6e71;
}
/* line 237, ../sass/public.scss */
#container #content .tweet_disabled .button {
  background: #c7c8ca !important;
}
/* line 239, ../sass/public.scss */
#container #content .tweet_disabled .button:hover {
  background: #c7c8ca;
}
/* line 243, ../sass/public.scss */
#container #content .tweet_disabled .tweeted_by_me_on {
  display: none;
}
/* line 248, ../sass/public.scss */
#container #content #pwc_tweets .tweet {
  color: #000000;
  font-size: 17px;
  line-height: 1.3;
}
/* line 255, ../sass/public.scss */
#container #content #pwc_tweets ul li {
  margin-bottom: 5px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #c7c8ca;
}
/* line 259, ../sass/public.scss */
#container #content #pwc_tweets ul li:last-child {
  border: none;
}
/* line 262, ../sass/public.scss */
#container #content #pwc_tweets ul li .button {
  margin-top: 7px;
}
/* line 265, ../sass/public.scss */
#container #content #pwc_tweets ul li .tweet_text {
  width: 98%;
}
/* line 268, ../sass/public.scss */
#container #content #pwc_tweets ul li i {
  display: inline-block;
}
/* line 271, ../sass/public.scss */
#container #content #pwc_tweets ul li .tweet_res_error {
  margin-left: 10px;
  color: #cd5050;
  display: inline-block;
}
/* line 279, ../sass/public.scss */
#container #content #main_tweets {
  height: 650px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #b3b3b3;
  padding: 12px 4px 12px 12px;
  overflow: hidden;
}
/* line 287, ../sass/public.scss */
#container #content #main_tweets .main_tweets_scroll {
  width: inherit;
  height: inherit;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* line 294, ../sass/public.scss */
#container #content #main_tweets #main_twitter_ajax_loader {
  width: 100%;
}
/* line 296, ../sass/public.scss */
#container #content #main_tweets #main_twitter_ajax_loader .tweet_ajax_loader {
  margin: 0 auto !important;
  vertical-align: middle;
  position: initial !important;
  display: block !important;
}
/* line 304, ../sass/public.scss */
#container #content #main_tweets ul {
  margin-right: 20px;
}
/* line 306, ../sass/public.scss */
#container #content #main_tweets ul li {
  margin-bottom: 5px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #c7c8ca;
}
/* line 310, ../sass/public.scss */
#container #content #main_tweets ul li:last-child {
  border: none;
}
/* line 315, ../sass/public.scss */
#container #content #main_tweets .tweet {
  color: #000000;
  font-size: 18px;
  line-height: 1.3;
  border: 1px solid transparent;
  padding: 3px 22px 3px 3px;
  position: relative;
}
/* line 322, ../sass/public.scss */
#container #content #main_tweets .tweet .tweet_text {
  word-wrap: break-word;
  width: inherit;
  height: inherit;
  position: relative;
}
/* line 329, ../sass/public.scss */
#container #content #main_tweets .tweet:hover {
  border: 1px solid #cccccc;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 332, ../sass/public.scss */
#container #content #main_tweets .tweet:hover .overlay_edit {
  display: block !important;
}
/* line 336, ../sass/public.scss */
#container #content #main_tweets .tweet textarea.edit_txt {
  font-size: 14px;
  padding: 3px 5px;
  width: 104%;
  height: inherit;
}
/* line 342, ../sass/public.scss */
#container #content #main_tweets .tweet .overlay_edit {
  display: none;
  color: #707070;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #f0f0f0;
  background-repeat: no-repeat;
  background-position: 4px 4px;
  border-left: 1px solid #ccc;
  background-image: url(../images/edit_icon.png);
  bottom: 0;
  height: auto;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
}
/* line 360, ../sass/public.scss */
#container #content #main_tweets .tweet .save_options {
  display: none;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 3px 6px rgba(111, 111, 111, 0.2);
  outline: none;
  padding: 4px 5px 0;
  position: absolute;
  right: -1px;
  top: 100%;
}
/* line 373, ../sass/public.scss */
#container #content #main_tweets .tweet .save_options .save_btn,
#container #content #main_tweets .tweet .save_options .cancel_btn {
  display: inline-block;
  width: 26px;
  height: 24px;
  cursor: pointer;
  background-position: 0 0;
}
/* line 380, ../sass/public.scss */
#container #content #main_tweets .tweet .save_options .save_btn:hover,
#container #content #main_tweets .tweet .save_options .cancel_btn:hover {
  background-position: 100% 0;
}
/* line 384, ../sass/public.scss */
#container #content #main_tweets .tweet .save_options .save_btn {
  background-image: url(../images/check_icon.png);
}
/* line 387, ../sass/public.scss */
#container #content #main_tweets .tweet .save_options .cancel_btn {
  background-image: url(../images/cancel_icon.png);
}
/* line 391, ../sass/public.scss */
#container #content #main_tweets .tweet .save_options .char_count {
  position: relative;
  top: -7px;
  margin-right: 3px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}
/* line 400, ../sass/public.scss */
#container #content #main_tweets .edit_tweet {
  border: 1px solid transparent !important;
}
/* line 401, ../sass/public.scss */
#container #content #main_tweets .edit_tweet .save_options {
  margin-top: -8px;
  right: -2%;
}
/* line 406, ../sass/public.scss */
#container #content #main_tweets .edit_tweet:hover .overlay_edit {
  display: none !important;
}
/* line 413, ../sass/public.scss */
#container #content #main_tweets .meta p {
  margin-bottom: 4px;
  font-size: 14px;
  color: #6d6e71;
}
/* line 418, ../sass/public.scss */
#container #content #main_tweets .meta p.twitted_mine {
  color: #d3526c;
  font-weight: 700;
}
/* line 422, ../sass/public.scss */
#container #content #main_tweets .meta p.tweeted_by_me_on {
  color: #de7b8f;
  font-weight: bold;
}
/* line 427, ../sass/public.scss */
#container #content #main_tweets .meta b {
  font-weight: 400;
  color: #939598;
}
/* line 432, ../sass/public.scss */
#container #content #main_tweets .button {
  margin-top: 7px;
}
/* line 435, ../sass/public.scss */
#container #content #main_tweets .tweeted {
  background: #0000ff !important;
}
/* line 438, ../sass/public.scss */
#container #content #main_tweets .tweet_res_error {
  margin-left: 10px;
  color: #cd5050;
  display: inline-block;
}
/* line 445, ../sass/public.scss */
#container #content #recent_tweets_mine li {
  margin-bottom: 10px;
}
/* line 447, ../sass/public.scss */
#container #content #recent_tweets_mine li .user_tweet_text {
  word-wrap: break-word;
  width: 97%;
}
/* line 452, ../sass/public.scss */
#container #content #recent_tweets_mine p {
  color: #939598;
  margin-bottom: 0;
}
/* line 456, ../sass/public.scss */
#container #content #recent_tweets_mine span {
  color: #6d6e71;
}
/* line 460, ../sass/public.scss */
#container #content .pagination {
  margin-top: 25px;
}
/* line 462, ../sass/public.scss */
#container #content .pagination li {
  /* show only five links of pagination, in laravel it was a problem to limit */
  display: none;
}
/* line 465, ../sass/public.scss */
#container #content .pagination li:nth-child(2), #container #content .pagination li:nth-child(3), #container #content .pagination li:nth-child(4), #container #content .pagination li:nth-child(5), #container #content .pagination li:nth-child(6) {
  display: block;
}
/* line 470, ../sass/public.scss */
#container #content .pagination li a {
  background: #f3d3da;
  width: 21px;
  height: 21px;
  float: left;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  line-height: 22px;
  margin-right: 10px;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 483, ../sass/public.scss */
#container #content .pagination li a:hover {
  background: #ee758f;
}
/* line 488, ../sass/public.scss */
#container #content .pagination li.active a {
  background: #c7c8ca;
}
/* line 490, ../sass/public.scss */
#container #content .pagination li.active a:hover {
  background: #636871;
}
/* line 494, ../sass/public.scss */
#container #content .pagination li.active span {
  width: 21px;
  height: 21px;
  float: left;
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  line-height: 22px;
  margin-right: 10px;
}
/* line 508, ../sass/public.scss */
#container #content .slide_controls {
  display: none;
}
@media (max-width: 1024px) {
  /* line 134, ../sass/public.scss */
  #container {
    max-width: 1024px;
    min-width: 550px;
    width: auto !important;
  }
  /* line 520, ../sass/public.scss */
  #container #content #column1 {
    width: 302px;
    margin-right: -302px;
  }
  /* line 524, ../sass/public.scss */
  #container #content #column2 {
    width: auto;
    float: none;
    margin-left: 302px;
  }
  /* line 529, ../sass/public.scss */
  #container #content #column3 {
    position: absolute;
    top: 800px;
  }
  /* line 533, ../sass/public.scss */
  #container #content .scrollable_list {
    width: 275px;
  }
  /* line 535, ../sass/public.scss */
  #container #content .scrollable_list .scroll {
    padding-right: 0;
  }
  /* line 539, ../sass/public.scss */
  #container #content #main_tweets {
    width: auto;
    height: 1266px;
  }
  /* line 543, ../sass/public.scss */
  #container #content #recent_tweets_mine {
    height: 210px;
  }
  /* line 546, ../sass/public.scss */
  #container #content .slide_controls {
    display: none;
  }
}
@media (max-width: 767px) {
  /* line 134, ../sass/public.scss */
  #container {
    max-width: 767px;
    min-width: 320px;
    height: auto !important;
  }
  /* line 559, ../sass/public.scss */
  #container #header img.logo {
    margin: 0 10px 0 0;
  }
  /* line 562, ../sass/public.scss */
  #container #header #welcome_msg {
    float: none;
    margin: 0;
  }
  /* line 566, ../sass/public.scss */
  #container #header .button {
    float: left;
    margin: 7px 0 0;
  }
  /* line 572, ../sass/public.scss */
  #container #content #filter_by_hashtag, #container #content #filter_by_campaign {
    height: auto !important;
    padding: 12px 4px 12px 12px;
  }
  /* line 575, ../sass/public.scss */
  #container #content #filter_by_hashtag .scroll, #container #content #filter_by_campaign .scroll {
    display: none;
  }
  /* line 578, ../sass/public.scss */
  #container #content #filter_by_hashtag select, #container #content #filter_by_campaign select {
    display: block !important;
  }
  /* line 582, ../sass/public.scss */
  #container #content #column1, #container #content #column2, #container #content #column3 {
    clear: both;
    float: none;
    margin: 0;
    width: auto;
    position: initial;
  }
  /* line 589, ../sass/public.scss */
  #container #content .scroll {
    position: relative;
    overflow: hidden !important;
  }
  /* line 592, ../sass/public.scss */
  #container #content .scroll ul {
    margin-right: 0;
    height: inherit;
    position: relative;
    left: 0;
  }
  /* line 597, ../sass/public.scss */
  #container #content .scroll ul li {
    width: inherit;
  }
  /* line 602, ../sass/public.scss */
  #container #content .scrollable_list {
    width: auto;
    padding: 12px 12px 2px;
    position: relative;
  }
  /* line 606, ../sass/public.scss */
  #container #content .scrollable_list h2 {
    margin-bottom: 5px;
  }
  /* line 610, ../sass/public.scss */
  #container #content #main_tweets {
    width: auto;
    margin-bottom: 10px;
    position: relative;
    padding: 12px !important;
  }
  /* line 615, ../sass/public.scss */
  #container #content #main_tweets #main_twitter_ajax_loader {
    width: 100%;
  }
  /* line 618, ../sass/public.scss */
  #container #content #main_tweets .scroll {
    height: 98%;
  }
  /* line 621, ../sass/public.scss */
  #container #content #main_tweets ul {
    margin-right: 10px;
  }
  /* line 625, ../sass/public.scss */
  #container #content #main_tweets .tweet textarea.edit_txt {
    width: 100%;
  }
  /* line 628, ../sass/public.scss */
  #container #content #main_tweets .tweet .save_options {
    right: 10px;
  }
  /* line 633, ../sass/public.scss */
  #container #content #pwc_tweets,
  #container #content #recent_tweets_mine {
    height: 490px;
  }
  /* line 637, ../sass/public.scss */
  #container #content #pwc_tweets ul li,
  #container #content #recent_tweets_mine ul li {
    padding-bottom: 5px;
  }
  /* line 641, ../sass/public.scss */
  #container #content #pwc_tweets .scroll,
  #container #content #recent_tweets_mine .scroll {
    height: 85%;
    padding-right: 0;
  }
  /* line 647, ../sass/public.scss */
  #container #content .auto_height {
    height: auto !important;
  }
  /* line 650, ../sass/public.scss */
  #container #content .slide_controls {
    display: block;
    background: inherit;
    position: absolute;
    width: 90%;
    bottom: 10px;
    left: 0;
    font-size: 14px;
    font-weight: bold;
    color: #444;
    padding: 3px 5%;
  }
  /* line 661, ../sass/public.scss */
  #container #content .slide_controls .prev {
    float: left;
  }
  /* line 664, ../sass/public.scss */
  #container #content .slide_controls .next {
    float: right;
  }
  /* line 667, ../sass/public.scss */
  #container #content .slide_controls .active {
    color: #d4526c !important;
    cursor: pointer;
  }
}

/* line 677, ../sass/public.scss */
.scrollable_list_double {
  height: 620px !important;
}

/* line 681, ../sass/public.scss */
.tweet-img {
  max-width: 100%;
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}
