// Carousels

 #big_slide_slider {

 	a.right .glyphicon-menu-right {
        background:url(../img/slider-arrow-icon.png) no-repeat 0 0;
        height:44px;
        width:22px;

        &:hover {
            background-position: 0px -56px;
        }

        &:before {
            content:inherit;
            display:none;
        }
    }

    a.left .glyphicon-menu-left {

        background:url(../img/slider-arrow-left-icon.png) no-repeat 0 0;
        height:44px;
        width:22px;

        &:hover {
            background-position: 0px -56px;
        }

        &:before {
            content:inherit;
            display:none;
        }
    }
}

.carousel-indicators {
	display: block;
    bottom: 15px;
}
.carousel-control {
	display: none;
}

.carousel-indicators li {
	border-color: lighten( $primary-color, 40% );
	background: lighten( $primary-color, 40% );
}

.carousel-indicators .active {
	background: $primary-color;
	border: 0;
}

.carousel-control {
	&.left, &.right {
		background: none;
	}
}

.full_section > .carousel {
    position: static;
}

@media only screen and (min-width: $medium) { 
	.carousel-indicators {
		display: none;
	}
	.carousel-control {
		display: block;
	}
}

