.modal {
    z-index: 9999;
}
.modal-dialog {
    width: 90%;
    height: 100%;
    padding: 0;
}

.modal-body {
    height: 90%;
    border-radius: 0;
}
.modal-body img {
    margin-left: 0
}
.modal-content {
    height: 90%;
    border-radius: 0;
    @media #{$brk-med-desk-2} {
        height: 100%;
    }
    
}
.modal-header {
    border: none;
    .close {color: #fff;}
}

// Full screen modal --------------------------
.play_video_waxwork {
    position: relative;
    // overflow: hidden;
	.poster {
		width: 100% !important;
		height: auto;
	}
    .play_button img {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }
    @media (max-width: 768px) { // didn't find any useful mediq queriy here to target all devices above the ipad portrait
		display: none;
	}
}


.full_screen_video_modal {
    .modal-dialog {
        width: 100%;
        margin: 0;
        .close {
            opacity: 1;
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 99999;
        }
        .modal-content {
            height: 100%;
            .modal-body {
                padding: 0;
                height: 100%;
                .video-js {
                    width: 100% !important;
                    height: auto !important;
				    position: absolute;
				    top: 0;
				    bottom: 0;
				    left: 0;
				    margin-top: auto;
				    margin-bottom: auto;
                }
                .vjs-big-play-button {
                    display: none;
                }
            }
        }
    }
}
// END --------------------------