// Article

.article {
    padding: 120px 0px;

    &__header {
    padding: 0 20px;
    	h1 {
    		font-size: 28px;
    	}
    }

    &__content {
    	font-size: 16px;
    	padding: 0 20px;
    	&_meta {
	    	margin-bottom: 20px;
	    	time {
	    		color: #444;
	    		font-size: 12px;
    		}
    	}
    	&_text {
    		img {
    			margin-top: 0;
    			margin-bottom: 20px;
    		}
    	}
    }
}

@media only screen and (max-width: $medium) { 
	.article {
		&__content {
			&_text {
	    		img {
	    			width: 100%;
	    		}
	    	}
		}
	}
}

@media only screen and (min-width: $medium) { 
	.article {
	    &__header {
	    	padding: 0;
	    	margin-bottom: 20px;
	    }
		&__content {
			padding-right: 50px;
			padding-left: 0;
			&_text {
	    		img {
	    			max-width: 100%;
	    			height: auto;
	    			margin-bottom: 10px;
	    			&.pull-left {
	    				margin-right: 15px;
	    			}
	    			&.pull-right {
	    				margin-left: 15px;	
	    			}
	    		}
	    	}
	    }
	}
}